@mixin t-blogArticle(
    $bgColor: $lbg,
    $headerBG: $lbg,
    $titleColor: $primary,
    $subtitleColor: $gray-dark-4,
    $accentColor: $gray-light-2,
    $textColor: $black,
    $ctaColor: $tertiary,
    $shadow: $lbg--shadow,
    $light: $lbg--light
){
    .s-main{
        .container{ @extend %row; }
        
        .m-blogSidebar{
            padding:0; margin:0;
            @extend %col--third;
            .m-blogSidebar__list{
                padding:0; margin:0;
                list-style:none;
            }
        }
    }//end .s-main
}.t-blogArticle, %t-blogArticle{@include t-blogArticle();}
