@mixin t-directory(
    $bgColor: $lbg,
    $headerBG: $lbg,
    $titleColor: $primary,
    $subtitleColor: $gray-dark-4,
    $accentColor: $gray-light-2,
    $textColor: $black,
    $ctaColor: $tertiary,
    $shadow: $lbg--shadow,
    $light: $lbg--light
){
    .s-pageTitle{
        @include s-pageTitle--recolor($headerBG, $accentColor, $titleColor, $subtitleColor);
    }//end s-pageTitle
    .s-main{
        @include m-department--recolor($bgColor, $titleColor, $textColor, $ctaColor, $shadow, $light);
        .m-department ~ .m-department{padding-top: $pad-triple;}
    }//end s-main
}.t-directory, %t-directory{ @include t-directory();}