@mixin t-styleguide(
    $bgColor: $lbg,
    $titleColor: $gray-dark-3,
    $subtitleColor: $gray-dark-4,
    $accentColor: $primary,
    $textColor: $black,
    $ctaColor: $tertiary,
    $shadow: $lbg--shadow,
    $light: $lbg--light
){
  .t-styleguide__colors{
      width: 100%; 
      display:flex;
      flex-flow: row wrap;  
      & > div{ 
          position:relative; 
          height: 6.18em; 
          width:10em; 
          padding: 1.61em; 
          margin-top: 2.618em;
          margin-right: 0.618em;
          box-shadow: 0 2px 4px -1px $lbg--shadow;
          &:before{ position: absolute; top:-1.618em; font-weight: bold;} 
      }
      &--primary{  background: $primary; &:before{ content: "$primary: #{$primary}";}}
      &--secondary{  background: $secondary; &:before{ content: "$secondary: #{$secondary}";}}
      &--tertiary{  background: $tertiary; &:before{ content: "$tertiary: #{$tertiary}";}}
      &--quaternary{  background: $quaternary; &:before{ content: "$quaternary: #{$quaternary}";}}
      &--quinary{  background: $quinary; &:before{ content: "$quinary: #{$quinary}"; }}

      &--white{  background: $white; &:before{ content: "$white: #{$white}";}}
      &--gray-light-1{  background: $gray-light-1; &:before{ content: "$gray-light-1: #{$gray-light-1}";}}
      &--gray-light-2{  background: $gray-light-2; &:before{ content: "$gray-light-2: #{$gray-light-2}";}}
      &--gray-light-3{  background: $gray-light-3; &:before{ content: "$gray-light-3: #{$gray-light-3}";}}
      &--gray-light-4{  background: $gray-light-4; &:before{ content: "$gray-light-4: #{$gray-light-4}";}}
      &--gray-light-5{  background: $gray-light-5; &:before{ content: "$gray-light-5: #{$gray-light-5}";}}
      &--gray{  background: $gray; &:before{ content: "$gray: #{$gray}";}}
      &--gray-dark-1{  background: $gray-dark-1; &:before{ content: "$gray-dark-1: #{$gray-dark-1}";}}
      &--gray-dark-2{  background: $gray-dark-2; &:before{ content: "$gray-dark-2: #{$gray-dark-2}";}}
      &--gray-dark-3{  background: $gray-dark-3; &:before{ content: "$gray-dark-3: #{$gray-dark-3}";}}
      &--gray-dark-4{  background: $gray-dark-4; &:before{ content: "$gray-dark-4: #{$gray-dark-4}";}}
      &--gray-dark-5{  background: $gray-dark-5; &:before{ content: "$gray-dark-5: #{$gray-dark-5}";}}
      &--black{  background: $black; &:before{ content: "$black: #{$black}";}}
      &--black-dark-1{  background: $black-dark-1; &:before{ content: "$black-dark-1: #{$black-dark-1}";}}
      &--black-dark-2{  background: $black-dark-2; &:before{ content: "$black-dark-2: #{$black-dark-2}";}}
      &--black-dark-3{  background: $black-dark-3; &:before{ content: "$black-dark-3: #{$black-dark-3}";}} 
     
  }//end .t-styleguide__colors
  .t-styleguide__typography{}//end t-styleguide__typography

  .t-styleguide__thumbnails, %t-styleguide__thumbnails{
      list-style:none;      
      margin:0; padding:0;
      display:flex;
      flex-flow: row wrap;
      align-items: flex-end;
      justify-content: flex-start;
      
      li{ 
          padding: $pad 0;
          margin-right: $pad-threeQuarter;
          display:flex;
          flex-flow: column nowrap;
          //min-width: 9.01em;

          &:after{
            @extend code;
            margin-top: $pad-half;        
          }
          &:nth-child(1):after{              
            content: '.thumbnail--150';
          }
          &:nth-child(2):after{              
            content: '.thumbnail--125';
          }
          &:nth-child(3):after{              
            content: '.thumbnail';
          }
          &:nth-child(4):after{              
            content: '.thumbnail--75';
          }
          &:nth-child(5):after{              
            content: '.thumbnail--50';
          }
        }
    
      @include breakpoint($bp-mobile1-1 $bp-mobile2-3){
          flex-flow: column;
          align-items: flex-start;
          li{padding: $pad-quarter;}
      }
  }//end t-styleguide__thumbnails
  .t-styleguide__circular{
    @extend %t-styleguide__thumbnails;
    justify-content: space-between;
    li{
        &:nth-child(1):after{ content: '.circular'; }
        &:nth-child(2):after{ content: '.circular--landscape'; }
        &:nth-child(3):after{ content: '.circular--portrait'; }
    }
  }//end t-styleguide__circular
  .t-styleguide__title{
    margin: vr(6) 0 vr(3) 0;
    padding-bottom: vr(1);
    border-bottom: solid 0.2em $accentColor;
    @include typi(h1);
    font-weight: 900;
    max-width:100%;
    color: $gray-dark-3;
    letter-spacing: 0.15em;
    display:block;
    &:first-child{margin-top:0;}
}//end t-styleguide__title
.t-styleguide__subtitle{
    margin: vr(6) 0 vr(2) 0;
    padding-bottom: vr(0.25);
    border-bottom: solid 0.1em $shadow;
    letter-spacing: 0.1em;
    max-width:100%;
    color: $subtitleColor;
    display:block;
    &:first-child{ margin-top:0;}
}//end t-styleguide__subtitle

.t-styleguide__chips{
    display:flex; flex-flow: row wrap;
    &_normal, &_alt, &_vert{
        & > .t-styleguide__subtitle{ width:100%; margin-bottom: $pad-half;}
        width:48%;
        padding-right: 2%;
        @extend %navList--vertical;
        display:flex; flex-flow: row wrap;
        max-width:100%;
        & > li{ margin: $pad $pad-and-half 0 0;}
        @include breakpoint($bp-mobile1-1 $bp-tablet-1){
            width:100%;
            padding-right:0;
        }
    }
    &_alt{ padding-right: 0;}
    &_vert{ width:100%; padding-right: 0;}
}


.slider--test1{ @include slider--custom($lbg, $quinary, $gray, $pad-quarter);}



}.t-styleguide{ @include t-styleguide();}