@mixin l-personale(
    $bgColor: $lbg,
    $headerBG: $lbg,
    $titleColor: $primary,
    $subtitleColor: $gray-dark-4,
    $accentColor: $gray-light-2,
    $textColor: $black,
    $ctaColor: $tertiary,
    $shadow: $lbg--shadow,
    $light: $lbg--light
){
    &.t-profile{ @include t-profile($bgColor, $headerBG, $titleColor, $subtitleColor, $accentColor, $textColor, $ctaColor, $shadow, $light);
     
    }
    &.t-directory{ @include t-directory($bgColor, $headerBG, $titleColor, $subtitleColor, $accentColor, $textColor, $ctaColor, $shadow, $light);}
}
.l-personale, %l-personale{ @include l-personale();}