@mixin l-personnel(
    $bgColor: $lbg,
    $headerBG: $secondary,
    $titleColor: $primary,
    $subtitleColor: $black,
    $accentColor: lighten($secondary, 10),
    $textColor: $black,
    $ctaColor: $tertiary,
    $shadow: $lbg--shadow,
    $light: $lbg--light
){
    &.t-profile{ 
        @include t-profile($bgColor, $headerBG, $titleColor, $subtitleColor, $accentColor, $textColor, $ctaColor, $shadow, $light);     
    }
    &.t-directory{ 
        @include t-directory($bgColor, $headerBG, $titleColor, $subtitleColor, $accentColor, $textColor, $ctaColor, $shadow, $light);
    }
}
.l-personnel, %l-personnel{ @include l-personnel();}