<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" >
    
    <title>Basetheme: Blog Article</title>    
    
</head>
<body class="l-blog t-blogArticle"> 
<div class="l-blog t-blogArticle"><!--remove after iframe fix-->
  @@include('sections/_s-header.html')  
  @@include('sections/l-blog/_s-hero--article.html',{
    "title": "Clickbait headline",
    "subtitle": "The headline industry doesn't want you to know about this one simple trick."
  }) 
  <main class="s-main">      
      <div class="container">
        <article class="m-display">
            <div class="m-display__body">
                <div class="m-display__copy">
                    <h2>Lorem ipsum dolor sit amet consectetur.</h2>
                    <p class="lede">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione laudantium placeat non!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis recusandae sapiente dolores illo excepturi ullam. Id expedita illum natus fuga impedit architecto optio, itaque dicta, eligendi quasi cumque facere totam?</p>
                    <p>Possimus sit eligendi eos tempore! Iusto in et voluptate natus est vel! Optio, numquam deleniti totam rem maxime hic a accusamus animi? Perspiciatis, est pariatur impedit necessitatibus id recusandae sint?</p>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, beatae.</h3>
                    <p>Esse, atque, exercitationem fuga modi cupiditate quaerat itaque natus beatae veritatis ab perspiciatis veniam accusamus impedit earum labore placeat. Vero perferendis consequatur expedita nesciunt suscipit, ex eius molestiae facere totam.</p>
                    <p>Impedit corporis suscipit soluta maiores tenetur expedita aliquid ipsum provident iste ea ab, alias, ad dolorem odit architecto sequi quidem dolorum repellat nostrum officiis odio, recusandae sit ipsam! Est, reiciendis!</p>
                    <p>Eos dolores ipsum iusto. Facilis totam natus obcaecati deserunt minima, nam iusto explicabo quod aspernatur sed maiores sunt est nihil velit accusantium quo nemo omnis consectetur vero. A, quia culpa!</p>
                </div>
                <aside class="m-display__sidebar">
                    @@include('modules/_m-blogSidebar.html')
                </aside>
            </div>
        </article>          
      </div>
  </main>
  
  @@include('sections/_s-footer.html')     
</div><!--remove after iframe fix-->
</body>

</html>