<article class="m-display">
    <div class="m-display__body">
        <div class="m-display__copy">
            <h2>Background</h2>
            <p class="lede">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione laudantium placeat non!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis recusandae sapiente dolores illo excepturi ullam. Id expedita illum natus fuga impedit architecto optio, itaque dicta, eligendi quasi cumque facere totam?</p>
            <p>Possimus sit eligendi eos tempore! Iusto in et voluptate natus est vel! Optio, numquam deleniti totam rem maxime hic a accusamus animi? Perspiciatis, est pariatur impedit necessitatibus id recusandae sint?</p>                    
            <p>Esse, atque, exercitationem fuga modi cupiditate quaerat itaque natus beatae veritatis ab perspiciatis veniam accusamus impedit earum labore placeat. Vero perferendis consequatur expedita nesciunt suscipit, ex eius molestiae facere totam.</p>
            <p>Impedit corporis suscipit soluta maiores tenetur expedita aliquid ipsum provident iste ea ab, alias, ad dolorem odit architecto sequi quidem dolorum repellat nostrum officiis odio, recusandae sit ipsam! Est, reiciendis!</p>
            <h3>Education</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Sit necessitatibus quo odio placeat!</li>
                <li>Cupiditate numquam odio ipsum sequi.</li>
            </ul>
            <h3>Interests</h3>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quibusdam, minima earum ea rem voluptate quae vel a molestiae soluta.</li>
                <li>Ducimus nostrum quos soluta corporis repellat laudantium quisquam, porro maiores quibusdam eligendi esse maxime omnis at facilis in alias natus?</li>
                <li>Exercitationem magni explicabo excepturi fugiat est facere, fugit similique doloremque obcaecati aperiam officia animi accusamus quibusdam blanditiis quidem nemo quae.</li>
                <li>Corrupti esse sunt sint expedita repudiandae, mollitia magnam odit, perspiciatis commodi quidem minus corporis doloremque. Consequuntur, incidunt. Eaque, voluptatem quae.</li>
                <li>Optio harum magnam aliquam eius doloribus architecto tenetur dignissimos mollitia expedita, doloremque veritatis placeat totam aliquid quo dolorem repellat ratione?</li>
            </ul>
        </div>
        <aside class="m-display__sidebar">
            <ul class="b-contactDetails">
    <li class="b-contactDetails__item"><a class="icon fa-phone" href="@tel:#">555-555-5555</a><br/></li>
    <li class="b-contactDetails__item"><a class="icon fa-envelope" href="@mail:#">johnDoe@emailaddress.com</a><br/></li>
    <li class="b-contactDetails__item"><span class="icon fa-map-marker">123 JonDoe Street, WV 12345</span><br/></li>
    <li class="b-contactDetails__item"><a class="icon fa-twitter" href="@twitter:#">@JohnDoe555123</a><br/></li>
    <li class="b-contactDetails__item"><a class="icon fa-link" href="#">JohnDoesWebsite.com</a><br/></li>
    <li class="b-contactDetails__item"><a class="icon fa-file-pdf-o" href="#">Download Johns CV</a><br/></li>
</ul>
        </aside>
    </div>
</article>