<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" >
    
    <title>Basetheme: Modules</title>    
    
</head>
<body class="l-styleguide t-modules">
  <header class="s-header">
  <div class="container">      
      <div class="m-navbar" id="nav-container">
  <a href="/views/index.html" class="b-siteName" >
    <h1 class="b-siteName__title">Base Theme</h1>
    <span class="b-siteName__subtitle">A solid starting point</span>
   
  </a>
  <nav class="b-primaryNav m-navbar__fullscreen " role="navigation" id="primaryNav nav-fullscreen">          
    <ul class="navList b-primaryNav__list">
      <li><a href="/views/styleguide.html">Styleguide</a></li>
      <li><a href="/views/objects.html">Objects</a></li>
      <li><a href="/views/prod/l-styleguide/t-blocks.html">Blocks</a></li>
      <li><a href="/views/prod/l-styleguide/t-modules.html">Modules</a></li>
      <li><a href="/views/prod/l-styleguide/t-sections.html">Sections</a></li>
      <li><a href="/views/prod/l-styleguide/t-templates.html">Templates</a></li>
    </ul>
  </nav>
  <a href="#primaryNav" class="b-primaryNav__trigger m-navbar__trigger" id="nav-toggle">
    <span class="hamburger">
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span>
    </span>
  </a>
</div>  
  </div><!--end container-->
</header> 
  <section class="s-pageTitle--alt">
	  <div class="container">
    <div class="b-title">
  <span class="b-title__meta"></span>
  <h1 class="b-title__title">Modules</h1>
  <p class="b-title__subtitle">Modules are collections of blocks that are typically nestled inside of a section or container class. They're generally more focused on how blocks are positioned around each other rather than how content is styled.</p>
</div>
  </div>
  <div class="s-pageTitle__background">
    <svg width="100%" height="100%" >
        <defs>                    
            <pattern id="texture"  viewBox="0 0 152 152" width="152px" height="152px" patternUnits="userSpaceOnUse">                
                <path d="M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z"/>
            </pattern>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#texture)"></rect>
    </svg>       
  </div>
</section>   
  <main class="s-main" >
    <div class="container">
        <article id="navigation" class="l-styleguide__section">
            <h2 id="navigation__title" class="l-styleguide__title">Navigation Modules</h2>
            <h3 id="contact__address" class="l-styleguide__subtitle">m-navbar</h3>
            <div class="m-navbar" id="nav-container">
  <a href="#" class="b-siteName" >
  <h1 class="b-siteName__title">Site Title</h1>
  <span class="b-siteName__subtitle">A common catchphrase</span>
  
</a>
  <nav class="b-primaryNav m-navbar__fullscreen" role="navigation" id="primaryNav nav-fullscreen">          
    <ul class="navList b-primaryNav__list">
      <li><a href="/views/index.html">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <a href="#primaryNav" class="b-primaryNav__trigger m-navbar__trigger" id="nav-toggle">
    <span class="hamburger">
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span>
    </span>
  </a>
</div>  
        </article>
        <article id="display" class="l-styleguide__section">
            <h2 id="display__title" class="l-styleguide__title">Display Modules</h2>
            <p class="lede">Display modules are used to format articles and other layouts within sections.</p>
            <h3 id="display__default" class="l-styleguide__subtitle">.m-display</h3>
            <div class="box">
                <article class="m-display">
    <header class="m-display__header">
        <div class="b-title">
  <span class="b-title__meta">Subject to which this article pertains</span>
  <h1 class="b-title__title">Title of the article</h1>
  <p class="b-title__subtitle">A brief description of what is yet to come.</p>
</div>
    </header>
    <div class="m-display__body">
        <div class="m-display__copy">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam harum eos dolor, voluptas dolorem soluta commodi nesciunt optio nisi. Assumenda vero odio deleniti tempora magnam ullam, consectetur ea sint sunt.</p>
              <p>Vel rerum nisi fugiat reprehenderit optio accusamus repellat, expedita esse delectus adipisci ea odit voluptates. Deserunt nostrum, nihil error sit delectus quibusdam molestias nesciunt iure officia nulla nemo vero reprehenderit!</p>
              <p>Eos aperiam in voluptatum sit veritatis nihil repudiandae deserunt perferendis atque reiciendis iure officiis, rerum cumque dignissimos quidem dolorem voluptates fugit ullam, eligendi voluptate officia nulla? Nostrum amet cumque aperiam.</p>
              <h3>Lorem ipsum dolor sit amet consectetur.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi delectus doloremque iste dicta, corporis suscipit rem! Nesciunt quas natus libero repellat tempore asperiores, sit enim sed ipsum cupiditate, pariatur minima?</p>
              <p>A quibusdam veniam libero, ut modi ipsa quis qui! A temporibus veniam corrupti nobis. Omnis reprehenderit quisquam, asperiores minima consequuntur quo dignissimos, nulla fugiat nostrum aspernatur amet, magni distinctio aut.</p>
              <p>Quod non quibusdam itaque, animi, repudiandae dignissimos sunt dolorem maxime, veniam omnis maiores eius. Amet aliquid velit incidunt totam autem fugit dolor quaerat aut, esse vitae, dicta exercitationem impedit error!</p>
              <p>Commodi tempora itaque sed exercitationem, dolorum provident praesentium odio, minima beatae nisi animi aliquam eaque a! Libero esse facilis fugiat, corporis ut mollitia quia quisquam itaque, obcaecati a, tempora vitae!</p>
        </div>                          
        <aside class="m-display__sidebar">
              <nav class="b-secondaryNav">
                <ul class="navList">
                  <h2 class="navList__title">Sidebar title</h2>
                  <li><a href="#">Section Link #1</a><span>Optional subtext</span></li>
                  <li class="open"><a href="#" class="active">Section Link #2</a><span>Optional subtext</span></li>
                  <li><a href="#">Section Link #3</a><span>Optional subtext</span></li>
                  <li><a href="#">Section Link #4</a><span>Optional subtext</span></li>
                  <li><a href="#">Section Link #5</a><span>Optional subtext</span></li>
                </ul>
              </nav>                            
        </aside>
    </div>
    <footer class="m-display__footer">
        <div class="b-published">
  <time class="b-published__date" datetime="2018-11-29">November 29, 2018</time>
  <a class="chip b-published__author" href="#">
    <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/9" alt=""></div></div>
    <div class="chip__copy">
        <span class="chip__title">Tara Posteroza</span>                   
    </div>
  </a>
</div>
        <div class="b-metaInfo">
  <div class="b-metaInfo__tags">
    <a href="#">#Tag1</a>
    <a href="#">#Tag2</a>
  </div>
  <div class="b-metaInfo__likes"><a href="#">32</a></div>
  <div class="b-metaInfo__comments"><a href="#">145</a></div>
</div>   
    </footer>
</article>
            </div>
            <h3 id="display__default" class="l-styleguide__subtitle">.m-display--cols</h3>
            <div class="box">
                <article class="m-display--cols">
    <header class="m-display__header">
        <div class="b-title">
  <span class="b-title__meta">Subject to which this article pertains</span>
  <h1 class="b-title__title">Title of the article</h1>
  <p class="b-title__subtitle">A brief description of what is yet to come.</p>
</div>
    </header>
    <div class="m-display__body">
        <div class="col--triple m-display__copy">                              
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At officia vel assumenda. Dicta, tempore, natus corrupti ut cum placeat doloribus iste deleniti porro deserunt quis laboriosam accusantium. Suscipit, cumque illum.</p>
        </div>
        <div class="col--triple m-display__copy">                              
            <h3>Quisquam a temporibus dolorem quo.</h3>
            <p>Illum, consectetur, ad consequuntur dignissimos molestias sapiente sunt alias similique ducimus, architecto a eum quo. Totam amet fugiat sapiente corrupti placeat voluptatibus aperiam quas magnam quidem! Modi error enim quibusdam!</p>
            
        </div>
        <div class="col--triple m-display__copy">                              
            <h3>Quod cumque inventore doloremque veniam!</h3>
            <p>Saepe quas, earum at laudantium nesciunt unde voluptate, aut voluptates repellendus blanditiis assumenda doloremque! Ut dolor nostrum, molestiae eaque laudantium dicta excepturi error inventore porro quos assumenda eveniet, qui provident.</p>
        </div>
    </div>
    <footer class="m-display__footer">
        <div class="b-published">
  <time class="b-published__date" datetime="2018-11-29">November 29, 2018</time>
  <a class="chip b-published__author" href="#">
    <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/9" alt=""></div></div>
    <div class="chip__copy">
        <span class="chip__title">Tara Posteroza</span>                   
    </div>
  </a>
</div>
        <div class="b-metaInfo">
  <div class="b-metaInfo__tags">
    <a href="#">#Tag1</a>
    <a href="#">#Tag2</a>
  </div>
  <div class="b-metaInfo__likes"><a href="#">32</a></div>
  <div class="b-metaInfo__comments"><a href="#">145</a></div>
</div>   
    </footer>
</article>
            </div>
            <h3 id="display__post" class="l-styleguide__subtitle">.m-post</h3>
            <div class="box">
                <article class="m-post">
    <header class="m-post__header">
        <a class="b-title--mini" href="#">
            <h3 class="b-title__title">Lorem ipsum dolor sit amet.</h3>
            <p class="b-title__subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, exercitationem.</p>
        </a>
        <div class="b-published">
  <time class="b-published__date" datetime="2018-11-29">November 29, 2018</time>
  <a class="chip b-published__author" href="#">
    <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/9" alt=""></div></div>
    <div class="chip__copy">
        <span class="chip__title">Tara Posteroza</span>                   
    </div>
  </a>
</div>
    </header>
    <div class="m-post__body">
      <div class="m-post__image"><img src="http://lorempixel.com/600/200/transport/3"></div>                      
      <div class="m-post__copy">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias natus totam quae voluptatibus molestias, cum voluptatem voluptatum. Illum qui quia ipsam, voluptatem sit explicabo ducimus, molestiae quas quod ea repudiandae.</p>
      </div>
    </div>
    <footer class="m-post__footer">
      <div class="m-post__cta"><a href="#" class="button">Continue reading</a></div>
      <div class="b-metaInfo">
  <div class="b-metaInfo__tags">
    <a href="#">#Tag1</a>
    <a href="#">#Tag2</a>
  </div>
  <div class="b-metaInfo__likes"><a href="#">32</a></div>
  <div class="b-metaInfo__comments"><a href="#">145</a></div>
</div>   
    </footer>
</article>
            </div>
        </article>
    </div><!--end #container-->

  </main>
  <footer class="s-footer">
  <div class="container">
    <div class="s-footer__contact">
      <div class="b-address">
  <h2 class="b-address__title">Cole Smith</h2> 
  <address class="b-address__body">
    123 SomethingLane, <br/> 
    Morgantown, WV 26501 <br/>
  </address>
  <a href="tel:1-888-888-8888" class="b-address__tel"> 1-888-888-8888</a>
  <a href="mailto:#" class="b-address__email">something@somewhere.com</a>
</div>
    </div><!--end s-footer__contact-->
    <div class="s-footer__cta">
      <nav class="b-primaryNav" role="navigation" >          
    <ul class="navList b-primaryNav__list">
      <li><a href="/views/styleguide.html">Styleguide</a></li>
      <li><a href="/views/objects.html">Objects</a></li>
      <li><a href="/views/prod/l-styleguide/t-blocks.html">Blocks</a></li>
      <li><a href="/views/prod/l-styleguide/t-modules.html">Modules</a></li>
      <li><a href="/views/prod/l-styleguide/t-sections.html">Sections</a></li>
      <li><a href="/views/prod/l-styleguide/t-templates.html">Templates</a></li>
    </ul>
  </nav>

      <div class="b-social">
  <span class="b-social__title">Connect:</span>           
  <ul>                
    <li><a target="_blank" href="http://facebook.com" class="icon fa-facebook">facebook</a></li>
    <li><a target="_blank" href="http://github.com" class="icon fa-github">github</a></li>
    <li><a target="_blank" href="http://twitter.com" class="icon fa-twitter">twitter</a></li>
    <li><a target="_blank" href="http://linkedin.com" class="icon fa-linkedin">linkedin</a></li>
    <li><a target="_blank" href="http://stackoverflow.com" class="icon fa-stack-overflow">stackoverflow</a></li>
    <li><a target="_blank" href="http://behance.com" class="icon fa-behance">behance</a></li>
    <li><a target="_blank" href="http://deviantart.com" class="icon fa-deviantart">deviantart</a></li>
    <li><a target="_blank" href="http://youtube.com" class="icon fa-youtube">youtube</a></li>
  </ul>
</div>
    </div><!--end s-footer__cta-->
  </div><!--end container-->
</footer> 
  
    <!--<script src="../bower_components/eq.js/dist/eq.min.js"></script>-->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://fast.fonts.net/jsapi/36d8cd92-7cc7-499b-b169-0eed9d670283.js"></script><!-- WVU’s font package, valid for *.wvu.edu, *.wvutech.edu, & localhost -->
    <!--<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
    <!--<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
    <script src="/javascripts/vendor/slick.min.js"></script>
    <script src="/javascripts/main.min.js"></script>
    
</body>

</html>