<html>
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css" >
    <script src="../bower_components/eq.js/dist/eq.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../javascripts/main.js"></script>
</head>
<body>
  <header class="s-header">
    <div class="container">
      
      <div class="m-navbar" id="nav-container">
       <h1 class="b-siteName eq-block--detail" >Name of Site</h1>
       <nav class="b-primaryNav m-navbar__fullscreen " role="navigation" id="primaryNav nav-fullscreen">          
          <ul class="navList b-primaryNav__list">
             <li><a href="/views/index.html">Home</a></li>
             <li><a href="/views/styleguide.html">Styleguide</a></li>
             <li><a href="/views/objects.html">Objects</a></li>
             <li><a href="/views/blocks.html">Blocks</a></li>
          </ul>
        </nav>
        <a href="#primaryNav" class="b-primaryNav__trigger m-navbar__trigger" id="nav-toggle">
            <span class="hamburger">
              <span class="hamburger__line" ></span>
              <span class="hamburger__line" ></span>
              <span class="hamburger__line" ></span>
            </span>
          </a>
      </div>
    </div><!--end container-->
  </header>
  <section class="s-opener">
	  <div class="container">
      <div class="s-opener__kicker">
        <h1>Providing a safer tomorrow by building a sustainable future today.</h1>
      </div>
      <div class="s-opener__cta">
        <div class="b-ctaCard">
        <figure class="b-ctaCard__imgWrapper">
        <img src="../images/stock1.jpg" alt="Bland stock image" class="b-ctaCard__img"/>
          <figcaption class="b-ctaCard__caption">
            <!--<h2>Fostering opportunity</h2>-->
            <p>Despite a tumultuous event three years ago, Bagamba is now an A student, who loves math and hopes to one day become a doctor.</p></figcaption>
          </figure>
          <div class="b-ctaCard__cta">
            <a href="#" class="btn">Read more about Bagamba</a>
            <a href="#" class="btn--donate">View other stories </a>
          </div>
        </div><!--end b-ctaCard-->
    </div>
  </section> 
  <main class="s-main s-main--index">
    <div class="container">
      <dl class="m-accordian">
        <dt class="m-accordian__title"><a href="" class="m-accordian__trigger">Title 1</a></dt>
        <dd class="m-accordian__copy">
            <p>Uh, is the puppy mechanical in any way? Is the Space Pope reptilian!? Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I never loved you. Michelle, I don't regret this, but I both rue and lament it.</p>
            <p>I am the man with no name, Zapp Brannigan! Are you crazy? I can't swallow that. <strong> I found what I need.</strong> <em> And it's not friends, it's things.</em> Oh yeah, good luck with that.</p>
        </dd>
        <dt class="m-accordian__title"><a href="" class="m-accordian__trigger">Title 2</a></dt>
        <dd class="m-accordian__copy">
            <p>Uh, is the puppy mechanical in any way? Is the Space Pope reptilian!? Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I never loved you. Michelle, I don't regret this, but I both rue and lament it.</p>
            <p>I am the man with no name, Zapp Brannigan! Are you crazy? I can't swallow that. <strong> I found what I need.</strong> <em> And it's not friends, it's things.</em> Oh yeah, good luck with that.</p>
        </dd>
        <dt class="m-accordian__title"><a href="" class="m-accordian__trigger">Title 3</a></dt>
        <dd class="m-accordian__copy">
            <p>Uh, is the puppy mechanical in any way? Is the Space Pope reptilian!? Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I never loved you. Michelle, I don't regret this, but I both rue and lament it.</p>
            <p>I am the man with no name, Zapp Brannigan! Are you crazy? I can't swallow that. <strong> I found what I need.</strong> <em> And it's not friends, it's things.</em> Oh yeah, good luck with that.</p>
        </dd>
        <dt class="m-accordian__title"><a href="" class="m-accordian__trigger">Title 4</a></dt>
        <dd class="m-accordian__copy">
            <p>Uh, is the puppy mechanical in any way? Is the Space Pope reptilian!? Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I never loved you. Michelle, I don't regret this, but I both rue and lament it.</p>
            <p>I am the man with no name, Zapp Brannigan! Are you crazy? I can't swallow that. <strong> I found what I need.</strong> <em> And it's not friends, it's things.</em> Oh yeah, good luck with that.</p>
        </dd>
        <dt class="m-accordian__title"><a href="" class="m-accordian__trigger">Title 5</a></dt>
        <dd class="m-accordian__copy">
            <p>Uh, is the puppy mechanical in any way? Is the Space Pope reptilian!? Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I never loved you. Michelle, I don't regret this, but I both rue and lament it.</p>
            <p>I am the man with no name, Zapp Brannigan! Are you crazy? I can't swallow that. <strong> I found what I need.</strong> <em> And it's not friends, it's things.</em> Oh yeah, good luck with that.</p>
        </dd>
      </dl>
        <h1>I wish! It's a nickel.</h1>
        <p>Uh, is the puppy mechanical in any way? Is the Space Pope reptilian!? Yep, I remember. They came in last at the Olympics, then retired to promote alcoholic beverages! I never loved you. Michelle, I don't regret this, but I both rue and lament it.</p>
        <p>I am the man with no name, Zapp Brannigan! Are you crazy? I can't swallow that. <strong> I found what I need.</strong> <em> And it's not friends, it's things.</em> Oh yeah, good luck with that.</p>
        <h2>You can crush me but you can't crush my spirit!</h2>
        <p>We're rescuing ya. Bender, quit destroying the universe! Look, last night was a mistake. I just want to talk. It has nothing to do with mating. Fry, that doesn't make sense.</p>
        <ol>
        <li>Calculon is gonna kill us and it's all everybody else's fault!</li><li>You guys realize you live in a sewer, right?</li><li>You seem malnourished. Are you suffering from intestinal parasites?</li></ol>
        
        <h3>What's with you kids? Every other day it's food, food, food. Alright, I'll get you some stupid food.</h3>
        <p>Ooh, name it after me! Bender, being God isn't easy. If you do too much, people get dependent on you, and if you do nothing, they lose hope. You have to use a light touch. Like a safecracker, or a pickpocket.</p>
        <ul>
        <li>I guess if you want children beaten, you have to do it yourself.</li><li>Yes, except the Dave Matthews Band doesn't rock.</li><li>Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I           complain.</li></ul>
        
        <p>The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. THE BIG BRAIN AM WINNING AGAIN! I AM THE GREETEST! NOW I AM LEAVING EARTH, FOR NO RAISEN!</p>
        <p>I'm sure those windmills will keep them cool. Ooh, name it after me! Yes, except the Dave Matthews Band doesn't rock. Actually, that's still true. You're going to do his laundry? So, how 'bout them Knicks?</p>
        <p>Oh Leela! You're the only person I could turn to; you're the only person who ever loved me. Okay, it's 500 dollars, you have no choice of carrier, the battery can't hold the charge and the reception isn't very…</p>
        <p>There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Oh sure! Blame the wizards! Say what? I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope?</p>
        <p>Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? Is that a cooking show? OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can.</p>
        <p>It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a   race     car.     Is any of this getting through to you? We'll need to have a look inside you with this camera.</p>
        <p>I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? Incidentally, you have a dime up your nose. That's not soon enough! Pansy. Goodbye, friends. I never thought I'd die like this. But I always really hoped.</p>
        <p>I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters are dating humans!</p>
        <p>Bender, quit destroying the universe! The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep. Why, those are the Grunka-Lunkas! They work here in the Slurm factory.</p>
        <p>Calculon is gonna kill us and it's all everybody else's fault! Is that a cooking show? Hey, whatcha watching? That's the ONLY thing about being a slave. Oh sure! Blame the wizards! I decline the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh… also,           comes with double prize money.</p>
        <p>Look, everyone wants to be like Germany, but do we really have the pure strength of 'will'? Well, let's just dump it in the sewer and say we delivered it. Fry! Stay back! He's too powerful! Incidentally, you have a dime up your nose.</p>
    </div><!--end container-->
  </main>
  <footer class="s-footer">
    <div class="container">
      <div class="s-footer__contact">
        <address class="b-address">    
          123 SomethingLane, <br/>
          Morgantown, WV 26501 <br/>
          <a href="tel:1-888-888-8888" class="b-address__tel"> 1-888-888-8888</a><br/>
          <a href="mailto:#" class="b-address__email">something@somewhere.com</a><br/>
        </address>
      </div><!--end s-footer__contact-->
      <div class="s-footer__cta">
        <nav class="b-primaryNav">
          <ul class="b-primaryNav__list">
           <li><a href="#">Services</a></li>
           <li><a href="#">Products</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <ul class="b-social">
          <li><a target="_blank" href="http://facebook.com" class="icon-facebook2">facebook</a></li>
          <li><a target="_blank" href="http://github.com" class="icon-github">github</a></li>
          <li><a target="_blank" href="http://twitter.com" class="icon-twitter">twitter</a></li>
          <li><a target="_blank" href="http://linkedin.com" class="icon-linkedin">linkedin</a></li>
          <li><a target="_blank" href="http://stackoverflow.com" class="icon-stackoverflow">stackoverflow</a></li>
          <li><a target="_blank" href="http://behance.com" class="icon-behance">behance</a></li>
          <li><a target="_blank" href="http://deviantart.com" class="icon-deviantart">deviantart</a></li>
          <li><a target="_blank" href="http://youtube.com" class="icon-youtube">youtube</a></li>
        </ul>
      </div><!--end s-footer__cta-->
    </div><!--end container-->
  </footer>

</body>
</html>