<html>
<head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css" >
    
    <title>Basetheme: Styleguide</title>
    
    
</head>
<body class="t-styleguide">
  <header class="s-header">
    <div class="container">
      
      <div class="m-navbar" id="nav-container">
       <h1 class="b-siteName eq-block--detail" >Name of Site</h1>
       <nav class="b-primaryNav m-navbar__fullscreen " role="navigation" id="primaryNav nav-fullscreen">
          
          <ul class="navList b-primaryNav__list">
             <li><a href="#">Services</a></li>
             <li><a href="#">Products</a></li>
             <li><a href="#">About</a></li>
             <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <a href="#primaryNav" class="b-primaryNav__trigger m-navbar__trigger" id="nav-toggle">
            <span class="hamburger">
              <span class="hamburger__line" ></span>
              <span class="hamburger__line" ></span>
              <span class="hamburger__line" ></span>
            </span>
          </a>
      </div>
    </div><!--end container-->
  </header>
  <section class="s-pageTitle">
	  <div class="container">
      <div class="b-title">
        <h1 class="headline b-title__title">Objects</h1>
        <p class="subHeadline b-title__subtitle">Theme elements that can be manipulated to support a variety of different content usages.</p>
      </div>
    </div>
  </section> 
  <main class="s-main s-main--styleguide">
    <div class="container">
        <article>            
            <h2 id="alerts" class="t-styleguide__title">Alerts</h2>   
            <div class="alert">
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
            </div>  
            <p><strong>Default Alert: </strong><code>class="alert"</code></p>
            <div class="alert--warning">
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
            </div>
            <p><strong>Warning Alert: </strong><code>class="alert--warning"</code></p>  
            <div class="alert--success">
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
            </div>
            <p><strong>Success Alert: </strong><code>class="alert--success"</code></p>  
            <div class="alert--info">
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
            </div> 
            <p><strong>Info Alert: </strong><code>class="alert--info"</code></p>     
            <div class="alert--notice">
                    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
            </div>
            <p><strong>Notice Alert: </strong><code>class="alert--notice"</code></p>         
            

            <h2 id="mediaObjects" class="t-styleguide__title">Media Objects</h2>
            <p><span class="lede">Media objects are frequently used to link to blog posts or other items elsewhere in the site</span></p>
            <h3 id="media_spotlight" class="t-styleguide__subtitle">Spotlights</h3>
            <ul class="row">
                <li class="col col--third spotlight"> 
                    <div class="spotlight__body">
                        <h4 class="spotlight__title">Interdum adipiscing gravida</h4>
                        <div class="spotlight__copy">
                            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat.</p>
                        </div>                        
                    </div>                 
                    <div class="spotlight__image">
                        <img src="http://lorempixel.com/350/175/nature" alt=""/>
                    </div>                                  
                    <div class="spotlight__cta">
                        <a href="#" class="button primary">Primary Link</a>
                        <a href="#" class="button">Secondary Link</a>
                    </div>
                </li>
                <li class="col col--third spotlight">                
                    <div class="spotlight__body">
                        <h4 class="spotlight__title">Sed mattis nunc id</h4>
                        <div class="spotlight__copy">
                            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Vivamus porttitor magna enim, ac accumsan tortor cursus at.</p>
                        </div>                        
                    </div> 
                    <div class="spotlight__image">
                        <img src="http://lorempixel.com/350/175/transport" alt=""/>
                    </div>                                   
                    <div class="spotlight__cta">
                        <a href="#" class="button primary">Primary Link</a>
                        <a href="#" class="button">Secondary Link</a>
                    </div>
                </li>
                <li class="col col--third spotlight"> 
                    <div class="spotlight__body">
                        <h4 class="spotlight__title">Vivamus porttitor magna enim</h4>
                        <div class="spotlight__copy">
                            <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. </p>
                        </div>                        
                    </div>               
                    <div class="spotlight__image">
                        <img src="http://lorempixel.com/350/175/nightlife" alt=""/>
                    </div>        
                    <div class="spotlight__cta">
                        <a href="#" class="button primary">Primary Link</a>
                        <a href="#" class="button">Secondary Link</a>
                    </div>   
                </li>
            </ul>
            <pre><code>                            
div class="spotlight"
  div class="spotlight__body"
    h3 class="spotlight__title" HEADER TEXT HERE /h3
    div class="spotlight__copy" BODY COPY GOES HERE /div
  /div 
  div class="spotlight__image"
    INSERT IMAGE HERE
  /div  
  div class="spotlight__cta"
    a class="button primary" PRIMARY BUTTON TEXT /a
    a class="button" SECONDARY BUTTON TEXT /a
  /div
/div
            </code></pre>

            <h3 id="media_card" class="t-styleguide__subtitle">Cards</h3>
            <ul class="row">
                <li class="col col--quarter">
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h4 class="card__title">Phasellus sed ultricies</h4>
                            <time class="card__subtitle" datetime="2019-10-23">October 23, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/1" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/nature" alt=""/>
                        </a>
                    </div>
                </li>
                <li class="col col--quarter">
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h4 class="card__title">Phasellus sed ultricies</h4>
                            <time class="card__subtitle" datetime="2019-10-23">October 23, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/2" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/food" alt=""/>
                        </a>
                    </div>
                </li>
                <li class="col col--quarter">
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h4 class="card__title">Phasellus sed ultricies</h4>
                            <time class="card__subtitle" datetime="2019-10-23">October 23, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/cats" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/business" alt=""/>
                        </a>
                    </div>
                </li>
                <li class="col col--quarter">
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h4 class="card__title">Phasellus sed ultricies</h4>
                            <time class="card__subtitle" datetime="2019-10-23">October 23, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/3" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/sports" alt=""/>
                        </a>
                    </div>
                </li>
            </ul>
            <pre><code>                            
div class="card"
  div class="card__body"
    div class="card__copy"
      span class="card__title"  INSERT TITLE HERE /span
      span class="card__subtitle"  INSERT SUBTITLE HERE /span
    /div
    a class="card__thumb"
      INSERT THUMBNAIL IMAGE HEAR 
    /a
  /div
  a class="card__image"
    INSERT IMAGE HERE
  /a 
/div
            </code></pre>
            
            <h3 id="media_miniCard" class="t-styleguide__subtitle">Mini-Cards</h3>
            <ul class="row">
                <li class="col col--third">
                    <a href="#" class="miniCard">
                        <div class="miniCard__body">
                            <h4 class="miniCard__title">Fermentum ut nisl vitae, convallis maximus</h4>
                            <time class="miniCard__subtitle" datetime="2019-10-23">October 23, 2019</time>
                        </div>
                        <div class="miniCard__thumb">
                            <img src="http://lorempixel.com/100/100/nature/1" alt=""/>
                        </div>
                    </a>
                </li>
                <li class="col col--third">
                    <a href="#" class="miniCard">
                        <div class="miniCard__body">
                            <h4 class="miniCard__title">Fermentum ut nisl vitae, convallis maximus</h4>
                            <time class="miniCard__subtitle" datetime="2019-10-23">October 23, 2019</time>
                        </div>
                        <div class="miniCard__thumb">
                            <img src="http://lorempixel.com/100/100/nature/2" alt=""/>
                        </div>
                    </a>
                </li>
                <li class="col col--third">
                    <a href="#" class="miniCard">
                        <div class="miniCard__body">
                            <h4 class="miniCard__title">Fermentum ut nisl vitae, convallis maximus</h4>
                            <time class="miniCard__subtitle" datetime="2019-10-23">October 23, 2019</time>
                        </div>
                        <div class="miniCard__thumb">
                            <img src="http://lorempixel.com/100/100/nature/3" alt=""/>
                        </div>
                    </a>
                </li>
            </ul>
            <pre><code>                            
a class="miniCard"
  div class="miniCard__body"   
    span class="miniCard__title"  INSERT TITLE HERE /span
    span class="miniCard__subtitle"  INSERT SUBTITLE HERE /span
  /div
  div class="miniCard__thumb"
    INSERT IMAGE HERE
  /div
/a
            </code></pre>
            <h3 id="media_blurb" class="t-styleguide__subtitle">Blurb</h3>
            <div class="blurb">
                <h4 class="blurb__title">About this blurb</h4>
                <p class="blurb__body">A blurb is just a short paragraph of content that is frequently located within a sidebar or footer. Sometimes it ends with a link to read more and sometimes it has specific links at the bottom. Aenean eu massa quam. Fusce ut dui at elit ornare ultrices. Nunc non convallis velit. Morbi luctus viverra nunc. Morbi blandit blandit eleifend. Curabitur egestas ullamcorper laoreet. <a href="#" class="blurb__readMore">Read more...</a></a></p>
                <div class="blurb__cta">
                <a href="#" class="button primary">Important Info</a>
                <a href="#" class="button">Less Important Info</a>
                </div>
            </div>
            <pre><code>                            
div class="blurb"
  span class="blurb__title"  INSERT TITLE HERE /span
  p class="blub__body"  INSERT BODY HERE /p
  div class="blurb__cta"
    a href="#" class="button primary"  PRIMARY BUTTON TEXT  /a
    a href="#" class="button" BUTTON TEXT  /a 
  /div
/div
            </code></pre>

            <h2 id="navList" class="t-styleguide__title">Navigation Lists</h2>
            <h3 id="navList__horizontal" class="t-styleguide__subtitle">Nav. List: Horizontal</h3>
            <ul class="navList">
                <li><a href="#">First Link</a></li>
                <li><a href="#">Second Link</a></li>
                <li><a href="#" class="active">Third Link (.active)</a></li>
                <li><a href="#">Fourth Link</a></li>
            </ul>
            <pre style="margin-top: 1em;"><code>                            
ul class="navlist"
  li a LINK ITEM 1 /a /li
  li a LINK ITEM 2 /a /li
  li a LINK ITEM 3 /a /li
  li a LINK ITEM 4 /a /li
/ul
            </code></pre>
            <h3 id="navList__vertical" class="t-styleguide__subtitle">Nav. List: Vertical</h3>
            <div class="navList--vertical">
                <h4 class="navList__title">Title for navlist</h4>
                <ul class="navList">
                    <li><a href="#">First Link</a></li>
                    <li><a href="#">Second Link</a></li>
                    <li><a href="#" class="open">Third Link (.open)</a>
                        <ul>
                            <li><a href="#">First Link</a></li>
                            <li><a href="#">Second Link</a></li>
                            <li><a href="#" class="active">Third Link (.active)</a></li>
                            <li><a href="#">Fourth Link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Fourth Link</a></li>
                </ul>
            </div>
            <pre><code>
div class="navList--vertical"
  span class="navList__title" TITLE GOES HERE /span                            
  ul class="navlist"
    li a LINK ITEM 1 /a /li
    li a LINK ITEM 2 /a /li
    li a class="open" LIST ITEM 3 /a 
      li a LINK ITEM 3.1 /a /li
      li a LINK ITEM 3.2 /a /li
      li a class="open" LIST ITEM 3.3 /a /li
      li a LINK ITEM 3.4 /a /li
    /li
    li a LINK ITEM 4 /a /li
  /ul
/div
            </code></pre>
            <h3 id="navList__simple" class="t-styleguide__subtitle">Nav. List: Simple</h3>
            <div class="navList--simple">
                <h4 class="navList__title">Title for navlist</h4>
                <ul class="navList">
                    <li><a href="#">First Link</a></li>
                    <li><a href="#">Second Link</a></li>
                    <li><a href="#" class="open">Third Link (.open)</a>
                        <ul>
                            <li><a href="#">First Link</a></li>
                            <li><a href="#">Second Link</a></li>
                            <li><a href="#" class="active">Third Link (.active)</a></li>
                            <li><a href="#">Fourth Link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Fourth Link</a></li>
                </ul>
            </div>
            <pre style="margin-top:1em;"><code>
div class="navList--simple"
  span class="navList__title" TITLE GOES HERE /span                            
  ul class="navlist"
    li a LINK ITEM 1 /a /li
    li a LINK ITEM 2 /a /li
    li a class="open" LIST ITEM 3 /a 
      li a LINK ITEM 3.1 /a /li
      li a LINK ITEM 3.2 /a /li
      li a class="open" LIST ITEM 3.3 /a /li
      li a LINK ITEM 3.4 /a /li
    /li
    li a LINK ITEM 4 /a /li
  /ul
/div
            </code></pre>

            <h2 id="breadcrumbs" class="t-styleguide__title">Breadcrumbs</h2>
            <ul class="breadcrumbs">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pictures</a></li>
              <li><a href="#">Summer 18</a></li>
              <li>Oslo</li>
            </ul>
            <pre><code>
ul class="breadcrumbs"
  li a Home /a /li
  li a Pictures /a /li
  li a Summer 18 /a /li
  li Osolo /li
/ul
            </code></pre>

            <h2 id="slider" class="t-styleguide__title">Image Sliders</h2>
            

            <h3 id="slider__slick" class="t-styleguide__subtitle" >Slick Slider</h3>
            <p>Slick-Slider is an accessible and responsive slider developed by <a href="https://kenwheeler.github.io/">Ken Wheeler</a>. It has multiple different variations and is very easy to both implement and customize. For more details about slick slider, go to <a href="https://kenwheeler.github.io/slick/">https://kenwheeler.github.io/slick/</a></p>
            <h4 style="margin-top: 1.618em;">Normal carousel</h4>
            <div class="slider">
                <div ><img src="http://lorempixel.com/1280/300/nightlife/1" alt="" /></div>
                <div ><img src="http://lorempixel.com/1280/300/nightlife/2" alt="" /></div>
                <div ><img src="http://lorempixel.com/1280/300/nightlife/3" alt="" /></div>
                <div ><img src="http://lorempixel.com/1280/300/nightlife/4" alt="" /></div>
                <div ><img src="http://lorempixel.com/1280/300/nightlife/5" alt="" /></div>
            </div>            

            <h4 style="margin-top: 1.618em;">Easily customizable buttons and formats</h4>
            <p style="max-width:100%;">Use the <code><strong>slider--custom</strong>($backgroundColor, $linkColor, $accentColor, $slidePadding) </code>mixin to effortlessly style multiple variations of this slider.</p>
            <div class="slider--test1">
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Cricket at Dawn</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 23, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/1" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/sports/1" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Surfs Up!</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 23, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/2" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/sports/2" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Fella on A Bike</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 23, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/3" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/sports/3" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Hello Buuuuuuudy!</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 23, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/4" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/animals/5" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Motocross Excitement</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 25, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/5" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/sports/5" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Soccer Eclipse</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 27, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/6" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/sports/6" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Take The Plunge</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 27, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/7" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/sports/7" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Martial Arts</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 28, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/8" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/sports/8" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Rhino Family Dynamics</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 28, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/1" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/animals/1" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Deep Thoughts</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 29, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/3" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/animals/2" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Take A Break</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 29, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/7" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/animals/3" alt=""/>
                        </a>
                    </div>
                </div>
                <div>
                    <div class="card">
                        <div class="card__body">
                          <div class="card__copy">
                            <h5 class="card__title">Ham It Up!</h5>
                            <time class="card__subtitle" datetime="2019-10-23">October 30, 2019</time>
                          </div>
                          <a href="#" class="card__thumb">
                            <img src="http://lorempixel.com/100/100/people/9" alt=""/>
                          </a>
                        </div>
                        <a class="card__image" href="#">
                            <img src="http://lorempixel.com/420/259/animals/6" alt=""/>
                        </a>
                    </div>
                </div>
            </div>
            <pre style="margin-top:2em;"><code>                
div class="slider"
  div  IMAGE #1 /div 
  div  IMAGE #2 /div 
  div  IMAGE #3 /div 
  div  IMAGE #4 /div 
  div  IMAGE #5 /div 
/div               
            </code></pre>
            <p class="alert--notice">In order to use slickslider, make sure to read the documentation and to include <a href="https://kenwheeler.github.io/slick/#demos">the javascript</a> that enables it. You can find a local example at the bottom of this page's view-source.</p>

            <h3 id="slider__auto" class="t-styleguide__subtitle">Auto Slider</h3>
            <p>Auto-slider is a simple CSS image slider that rotates images. It's mixin allows you to customize the delay and number of slides that it switches. It isn't a part of slick-slider.</p>
            <div class="autoSlider">
                <ul class="autoSlider__list">
                    <li><img src="http://lorempixel.com/1280/300/nature/1" alt="" /></li>
                    <li><img src="http://lorempixel.com/1280/300/nature/2" alt="" /></li>
                    <li><img src="http://lorempixel.com/1280/300/nature/3" alt="" /></li>
                    <li><img src="http://lorempixel.com/1280/300/nature/4" alt="" /></li>
                    <li><img src="http://lorempixel.com/1280/300/nature/5" alt="" /></li>
                </ul>
            </div>
            <pre><code>                
div class="autoSlider"
  div class="autoSlider__list"
    div  IMAGE #1 /div 
    div  IMAGE #2 /div 
    div  IMAGE #3 /div 
    div  IMAGE #4 /div 
    div  IMAGE #5 /div 
  /div
/div               
            </code></pre>
            
            <h2 id="modal" class="t-styleguide__title">Modal</h2>
            <button id="modalButton">Open Modal</button>
            <div id="modal-1" class="modal">
                <div class="modal__content">
                    <span class="close">&times;</span>
                    <p>This text is included in the modal</p>
                </div>
            </div>
        </article>        
    </div><!--end container-->
  </main>
  <footer class="s-footer">
    <div class="container">
      <div class="s-footer__contact">
        <address class="b-address">    
          123 SomethingLane, <br/>
          Morgantown, WV 26501 <br/>
          <a href="tel:1-888-888-8888" class="b-address__tel"> 1-888-888-8888</a><br/>
          <a href="mailto:#" class="b-address__email">something@somewhere.com</a><br/>
        </address>
      </div><!--end s-footer__contact-->
      <div class="s-footer__cta">
        <nav class="b-primaryNav">
          <ul class="b-primaryNav__list">
           <li><a href="#">Services</a></li>
           <li><a href="#">Products</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <ul class="b-social">
          <li><a target="_blank" href="http://facebook.com" class="icon fa-facebook">facebook</a></li>
          <li><a target="_blank" href="http://github.com" class="icon fa-github">github</a></li>
          <li><a target="_blank" href="http://twitter.com" class="icon fa-twitter">twitter</a></li>
          <li><a target="_blank" href="http://linkedin.com" class="icon fa-linkedin">linkedin</a></li>
          <li><a target="_blank" href="http://stackoverflow.com" class="icon fa-stack-overflow">stackoverflow</a></li>
          <li><a target="_blank" href="http://behance.com" class="icon fa-behance">behance</a></li>
          <li><a target="_blank" href="http://deviantart.com" class="icon fa-deviantart">deviantart</a></li>
          <li><a target="_blank" href="http://youtube.com" class="icon fa-youtube">youtube</a></li>
        </ul>
      </div><!--end s-footer__cta-->
    </div><!--end container-->
  </footer>
    <!--<script src="../bower_components/eq.js/dist/eq.min.js"></script>-->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>-->
    <!--<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
    <script src="../javascripts/vendor/slick.min.js"></script>
    <script src="../javascripts/main.min.js"></script>
    <script>
              
              $('.slider').slick({
                dots: true, 
                infinite: true,
                speed: 300,    
                slidesToShow: 1,
                slidesToScroll: 1 
              });   
          

            $(document).ready(function(){
              $('.slider--test1').slick({
                infinite: true,
                dots: true,
                slidesToShow: 4,
                slidesToScroll: 4,
                autoplay: true,
                autoplaySpeed: 6000,
                adaptiveHeight: false
                });
            });                
        </script>

        
</body>

</html>