<div class="box alt">
    <div class="row">
        <div class="col--third">
            <span class="image fit">
                <img src="/img/card-420-abstractbw.jpg" alt="" />
            </span>
        </div>
        <div class="col--third">
            <span class="image fit">
                <img src="/img/card-420-business.jpg" alt="" />
            </span>
        </div>
        <div class="col--third">
            <span class="image fit">
                <img src="/img/card-420-food.jpg" alt="" />
            </span>
        </div>
        <div class="col--third">
            <span class="image fit">
                <img src="/img/card-420-gift.jpg" alt="" />
            </span>
        </div>
        <div class="col--third">
            <span class="image fit">
                <img src="/img/card-420-lakeField.jpg" alt="" />
            </span>
        </div>
        <div class="col--third">
            <span class="image fit">
                <img src="/img/card-420-library.jpg" alt="" />
            </span>
        </div>
        <div class="col--third">
            <span class="image fit" style="margin-bottom:0;">
                <img src="/img/card-420-motox.jpg" alt="" />
            </span>
        </div>
        <div class="col--third">
            <span class="image fit" style="margin-bottom:0;">
                <img src="/img/card-420-mtnClouds.jpg" alt="" />
            </span>
        </div>
        <div class="col--third">
            <span class="image fit" style="margin-bottom:0;">
                <img src="/img/card-420-haybail.jpg" alt="" />
            </span>
        </div>
    </div>
</div>