<p><span class="image left"><img src="/img/card-420-vertigo.jpg" alt="" /></span>Lorem ipsum dolor sit
    accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
    vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
    praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod.
    Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
    accumsan eu faucibus. Integer ac pellentesque praesent.</p>
<p><span class="image right"><img src="/img/card-420-teacup.jpg" alt="" /></span>Lorem ipsum dolor sit
    accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus
    vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
    praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod.
    Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
    accumsan eu faucibus. Integer ac pellentesque praesent.</p>
<p style="max-width:100%"><strong>Left or right Images:</strong> <code>class="image left"</code> or
    <code>class="image right"</code>
</p>