 <ul class="t-styleguide__thumbnails">
    <li><a href="#" class="thumbnail--150"><img src="/img/thumb-200-tea.jpg" alt=""></a></li>
    <li><a href="#" class="thumbnail--125"><img src="/img/thumb-200-traintracks.jpg" alt=""></a></li>
    <li><a href="#" class="thumbnail"><img src="/img/thumb-200-beach.jpg" alt=""></a></li>
    <li><a href="#" class="thumbnail--75"><img src="/img/thumb-200-arctic.jpg" alt=""></a></li>
    <li><a href="#" class="thumbnail--50"><img src="/img/thumb-200-seahorizon.jpg" alt=""></a></li>
</ul>