<ul class="t-styleguide__circular">
    <li>
        <a href="#" style="width:150px; height: 150px;" class="circular">
            <img src="/img/thumb-360-cat.jpg" alt="">
        </a>
    </li>
    <li>
        <a href="#" style="width:150px; height: 150px;" class="circular--landscape">
            <img src="/img/landscape-582-360-cat.jpg" alt="">
        </a>
    </li>
    <li>
        <a href="#" style="width:150px; height: 150px;" class="circular--portrait">
            <img src="/img/portrait-360-582-cat.jpg" alt="">
        </a>
    </li>
</ul>