<div class="typography__preview">
<span class="headline">This is a headline</span>
<span class="subHeadline">This text would frequently be used as a subheadline.</span>
<p><span class="lede">Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante
        commodo blandit adipiscing integer semper orci eget.</span></p>
<p>This is body copy. Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi
    integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
    lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
    Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
<p class="caption">This is caption text. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus
    accumsan.</p>
<p style="padding-top:1em; max-width:100%;"><strong>Headlines: <code>class="headline"</code></strong> |
    <strong>Subheadlines: <code>class="subHeadline"</code></strong> | <strong>Lede text:
    </strong><code>span class="lede"</code></p>
</div>