<ul>
    <li>Dolor etiam magna etiam.</li>
    <li>Sagittis lorem eleifend.</li>
    <ul>
        <li>Dolor magna etiam.</li>
        <li>Sagittis lorem.</li>
        <ul>
            <li>Sagittis lorem.</li>
            <li>Dolore viverra.</li>
        </ul>
        <li>Dolore viverra.</li>
    </ul>
    <li>Felis dolore viverra.</li>
</ul>
<h4>Alternate</h4>
<code>class="alt"</code>
<ul class="alt">
    <li>Dolor etiam magna etiam.</li>
    <li>Sagittis lorem eleifend.</li>
    <li>Felis feugiat viverra.</li>
</ul>