@mixin b-primaryNav(
  $bgColor: $lbg,
  $txtColor: $primary,
  $activeColor: $secondary,
  $shadow: $lbg--shadow,
  $light: $lbg--light
){
  
.b-primaryNav{ 
  display: block;
 }//end b-primaryNav

.b-primaryNav__list{
   @include navList($bgColor, $txtColor, $shadow, $light);
   
   &.active{
     margin-left: 0;
     width:100%; float:left;
     
     li{
      display:block;
      width:100%; float:left;
      padding: ms(-3);
      border-bottom: 1px solid $shadow; 
      box-shadow: 0 1px 0 -3px $light;
      
       &:last-child{ border-bottom:0; box-shadow: none;}
     }//end li     
   }//end active
}//end b-primaryNav__list

.b-primaryNav__trigger{ 
  @include hamburger($bgColor, $txtColor, $activeColor, $shadow, $light);
  //background:black; width:40px; height:40px; 
  display:none;
}//end b-primaryNav__trigger

.b-primaryNav__triggerText{
    position: absolute;
    left: -99999999px;
}//end b-primaryNav__triggerText



@include breakpoint($bp-mobile1-1 $bp-tablet-1){
  .b-primaryNav__list{ 
    //max-height:0;
    display:none;
    &.active{
      display:block;
    }
  }
  .b-primaryNav__list li{
    
    display:block;
    width:100%; float:left;
    padding: ms(-3);
    border-right: 0 !important;
      
    
  }

  .b-primaryNav__trigger{ 
    display:block;
    padding-top: vr(0.25);
  }

  /**ANIMATION STYLES
  *************************************

  .b-primaryNav__list li{
    transition: all 0.5s linear;
    box-sizing: border-box;
    &:nth-child(odd){
      transform: skew(30deg,0deg) scale(1,0);
      transform-origin: 100px 0px; 
    }//end nth-child(odd)
    &:nth-child(even){
      transform: skew(-30deg,0deg) scale(1,0);
      //background: #111;
      transform-origin: -100px 0;
    }//end nth-child(even)    
  }//end b-primaryNav__list li
  .b-primaryNav__list.active{
    max-height:2000px; overflow:hidden; 
    li{
      &:nth-child(even), &:nth-child(odd){
      transform: skew(0deg,0deg) scale(1,1);
      background: $txtColor;
      a { color:$bgColor;}
      }
      &:nth-child(even){
        margin-left: 0;
      }//end nth-child(odd)
    }//end li
  }//end .b-primaryNav__list.active
 
  **************************************/
  
  
  
}//end mobile bps


}@include b-primaryNav();