@mixin b-social(
    $bgColor: $dbg,
    $txtColor: $lbg,
    $ctaColor: $tertiary,
    $ctaColor--hover: $tertiary--light,
    $ctaColor--active: $tertiary--shadow,
    $shadow: $dbg--shadow,
    $light: $dbg--light
){
    .b-social, ul.b-social{
        color: $white; 
        list-style:none;
        display:flex;
        flex-flow: row nowrap;
        font-size:$font-size-med;
        padding: vr(1) 0;
        //@include adjust-font-size-to($font-size-med-2);
        //@include rhythm(0, $ms-1, $ms-1, 0, $font-size-med);
         
        li{            
            padding: 0 ms(-3);
            a{
                color: $ctaColor;
                width: ms(1);
                height: ms(0);
                float:left;
                text-indent: 99999em;
                position:relative;
                overflow:hidden;
                text-shadow: 0 0.2em 0.2em $shadow; 

                &:hover, &:focus{ color: $ctaColor--hover; }
                &:active{ color: $ctaColor--active; }
                
                &:before{ 
                    position:absolute; 
                    top:0; left:0;
                    text-indent:0;
                }//end :before
            }//end a
        }//end li
    }//end b-social
}@include b-social();