@mixin b-siteName(
  $bgColor: $lbg,
  $text: $black,
  $cta: $primary,
  $shadow: $lbg--shadow,
  $light: $lbg--light
){

.b-siteName{
  float:left;
  @extend h1;
  font-size: 2em;
  margin:0;
  margin: vr(1) 0;
  font-size: $font-size-large-2;

  //@include eq(xSmall){border:$secondary 1px solid;}
  //@include eq(Medium){border:$primary 1px solid;}

}//end b-sitename

}@include b-siteName();
