<nav class="b-primaryNav m-navbar__fullscreen " role="navigation" id="primaryNav nav-fullscreen">          
    <ul class="navList b-primaryNav__list">
      <li><a href="/views/styleguide.html">Styleguide</a></li>
      <li><a href="/views/objects.html">Objects</a></li>
      <li><a href="/views/blocks.html">Blocks</a></li>
      <li><a href="/views/modules.html">Modules</a></li>
      <li><a href="/views/sections.html">Sections</a></li>
      <li><a href="/views/templates.html">Templates</a></li>
    </ul>
  </nav>
  <a href="#primaryNav" class="b-primaryNav__trigger m-navbar__trigger" id="nav-toggle">
    <span class="hamburger">
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span>
    </span>
  </a>