<div class="b-contactForm">
  <form method="post" action="#">
      <div class="b-contactForm__details">
        <div class="b-contactForm__name">
          <input class="b-contactForm__firstName" type="text" name="demo-name" id="demo-name" value="" placeholder="First name" />
          <input class="b-contactForm__lastName" type="text" name="demo-name" id="demo-name" value="" placeholder="Last name" />
        </div>
        <div class="b-contactForm__contact">
          <input class="b-contactForm__email" type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
        </div>
      </div>
      <div class="b-contactForm__message">
        <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
      </div>
      <div class="b-contactForm__cta">
        <ul class="actions">
            <li><input type="submit" value="Send Message" class="primary" /></li>
            <li><input type="reset" value="Reset" /></li>
        </ul>
      </div>
  </form>
</div>