<ul class="b-directory">
    <li class="b-directory__item">
        <div class="b-directory__chip">
            <a href="t-profile.html" class="chip">
                <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/3" alt=""></div></div>
                <div class="chip__copy">
                    <h3 class="chip__title">Bobby Fastquick</h3>
                    <p class="chip__body">Integer placerat et turpis mi</p>                         
                </div>
            </a>
        </div>
        <div class="b-directory__phone">
            <a class="icon fa-phone" href="@tel:#">555-555-5555</a>
        </div>
        <div class="b-directory__email">
            <a class="icon fa-envelope" href="@mail:#">bobbyFazquick@email.com</a>
        </div>
        <div class="b-directory__website">
            <a class="icon fa-user" href="#" arial-label="View Bobby's profile">View Profile</a>
        </div>
        <div class="b-directory__social">
            <a class="icon fa-twitter" href="@twitter:#">@BobbyFazQuick555123</a>
        </div>
    </li>
    <li class="b-directory__item">
        <div class="b-directory__chip">
            <a href="t-profile.html" class="chip">
                <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/1" alt=""></div></div>
                <div class="chip__copy">
                    <h3 class="chip__title">Lorem Ipsum.</h3>
                    <p class="chip__body">Lorem ipsum dolor sit amet.</p>                         
                </div>
            </a>
        </div>
        <div class="b-directory__phone">
            <a class="icon fa-phone" href="@tel:#">555-555-5555</a>
        </div>
        <div class="b-directory__email">
            <a class="icon fa-envelope" href="@mail:#">somethingernother@email.com</a>
        </div>
        <div class="b-directory__website">
            <a class="icon fa-user" href="#" arial-label="View Bobby's profile">View Profile</a>
        </div>
        <div class="b-directory__social">
            <a class="icon fa-twitter" href="@twitter:#">@dolorsiteamet231</a>
        </div>
    </li>
    <li class="b-directory__item">
        <div class="b-directory__chip">
            <a href="t-profile.html" class="chip">
                <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/2" alt=""></div></div>
                <div class="chip__copy">
                    <h3 class="chip__title">Ipsum Dolor</h3>
                    <p class="chip__body">Lorem ipsum dolor sit amet </p>                         
                </div>
            </a>
        </div>
        <div class="b-directory__phone">
            <a class="icon fa-phone" href="@tel:#">555-555-5555</a>
        </div>
        <div class="b-directory__email">
            <a class="icon fa-envelope" href="@mail:#">something@email.com</a>
        </div>
        <div class="b-directory__website">
            <a class="icon fa-user" href="#" arial-label="View Bobby's profile">View Profile</a>
        </div>
        <div class="b-directory__social">
            <a class="icon fa-twitter" href="@twitter:#">@dolorsiteamet241</a>
        </div>
    </li>
    <li class="b-directory__item">
        <div class="b-directory__chip">
            <a href="t-profile.html" class="chip">
                <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/4" alt=""></div></div>
                <div class="chip__copy">
                    <h3 class="chip__title">Amet Consectetur</h3>
                    <p class="chip__body">Lorem ipsum dolor</p>                         
                </div>
            </a>
        </div>
        <div class="b-directory__phone">
            <a class="icon fa-phone" href="@tel:#">555-555-5555</a>
        </div>
        <div class="b-directory__email">
            <a class="icon fa-envelope" href="@mail:#">other@email.com</a>
        </div>
        <div class="b-directory__website">
            <a class="icon fa-user" href="#" arial-label="View Bobby's profile">View Profile</a>
        </div>
        <div class="b-directory__social">
            <a class="icon fa-twitter" href="@twitter:#">@dolorsiteamet241</a>
        </div>
    </li>                     
</ul>