<nav class="b-primaryNav m-navbar__fullscreen" role="navigation" id="primaryNav nav-fullscreen">          
    <ul class="navList b-primaryNav__list">
      <li><a href="/views/templates/t-homepage.html">Home</a></li>
      <li><a href="/views/templates/t-backpage.html">Backpage</a></li>
      <li><a href="/views/templates/l-personnel/t-directory.html">Directory</a></li> 
      <li><a href="/views/templates/l-blog/t-blogIndex.html">Blog</a></li> 
      <li><a href="/views/templates/l-styleguide/t-homepage.html">Patterns</a></li>   
    </ul>
  </nav>
  <a href="#primaryNav" class="b-primaryNav__trigger m-navbar__trigger" id="nav-toggle">
    <span class="hamburger">
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span> 
      <span class="hamburger__line" ></span>
    </span>
  </a>