<div class="b-search--inline">
  <form class="b-search__form">
      <label class="b-search__label" for="search">Search this topic
        <p id="error" role="alert"></p>                      
      </label>  
    <div class="b-search__body" role="search">                                      
      <input id="search" class="b-search__input" placeholder="Search..." type="text">
      <button class="b-search__button" type="submit" value="Begin search">                 
    </div>
  </form>
</div>