<div class="b-social">
  <span class="b-social__title">Connect:</span>           
  <ul>                
    <li><a target="_blank" href="http://facebook.com" class="icon fa-facebook">facebook</a></li>
    <li><a target="_blank" href="http://github.com" class="icon fa-github">github</a></li>
    <li><a target="_blank" href="http://twitter.com" class="icon fa-twitter">twitter</a></li>
    <li><a target="_blank" href="http://linkedin.com" class="icon fa-linkedin">linkedin</a></li>
    <li><a target="_blank" href="http://stackoverflow.com" class="icon fa-stack-overflow">stackoverflow</a></li>
    <li><a target="_blank" href="http://behance.com" class="icon fa-behance">behance</a></li>
    <li><a target="_blank" href="http://deviantart.com" class="icon fa-deviantart">deviantart</a></li>
    <li><a target="_blank" href="http://youtube.com" class="icon fa-youtube">youtube</a></li>
  </ul>
</div>