<aside class="m-blogSidebar">
    <ul class="m-blogSidebar__list">        
        <li>
            @@include('blocks/_b-postListing.html')
        </li>
        <li>
            <div class="blurb">
                <h2 class="blurb__title">About this blog</h2>
                <p class="blurb__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi fugiat, facilis aspernatur mollitia molestiae optio porro corrupti impedit explicabo quaerat. <a href="#" class="blurb__readMore">Read more...</a></a></p>            
            </div>
        </li>
    </ul>
</aside>