<article class="m-display">
    <header class="m-display__header">
        @@include('blocks/_b-title.html',{
          "meta": "Subject to which this article pertains",
          "title": "Title of the article",
          "subtitle": "A brief description of what is yet to come."
        })
    </header>
    <div class="m-display__body">
        <div class="m-display__copy">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam harum eos dolor, voluptas dolorem soluta commodi nesciunt optio nisi. Assumenda vero odio deleniti tempora magnam ullam, consectetur ea sint sunt.</p>
              <p>Vel rerum nisi fugiat reprehenderit optio accusamus repellat, expedita esse delectus adipisci ea odit voluptates. Deserunt nostrum, nihil error sit delectus quibusdam molestias nesciunt iure officia nulla nemo vero reprehenderit!</p>
              <p>Eos aperiam in voluptatum sit veritatis nihil repudiandae deserunt perferendis atque reiciendis iure officiis, rerum cumque dignissimos quidem dolorem voluptates fugit ullam, eligendi voluptate officia nulla? Nostrum amet cumque aperiam.</p>
              <h3>Lorem ipsum dolor sit amet consectetur.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi delectus doloremque iste dicta, corporis suscipit rem! Nesciunt quas natus libero repellat tempore asperiores, sit enim sed ipsum cupiditate, pariatur minima?</p>
              <p>A quibusdam veniam libero, ut modi ipsa quis qui! A temporibus veniam corrupti nobis. Omnis reprehenderit quisquam, asperiores minima consequuntur quo dignissimos, nulla fugiat nostrum aspernatur amet, magni distinctio aut.</p>
              <p>Quod non quibusdam itaque, animi, repudiandae dignissimos sunt dolorem maxime, veniam omnis maiores eius. Amet aliquid velit incidunt totam autem fugit dolor quaerat aut, esse vitae, dicta exercitationem impedit error!</p>
              <p>Commodi tempora itaque sed exercitationem, dolorum provident praesentium odio, minima beatae nisi animi aliquam eaque a! Libero esse facilis fugiat, corporis ut mollitia quia quisquam itaque, obcaecati a, tempora vitae!</p>
        </div>                          
        <aside class="m-display__sidebar">
              <nav class="b-secondaryNav">
                <ul class="navList">
                  <h2 class="navList__title">Sidebar title</h2>
                  <li><a href="#">Section Link #1</a><span>Optional subtext</span></li>
                  <li class="open"><a href="#" class="active">Section Link #2</a><span>Optional subtext</span></li>
                  <li><a href="#">Section Link #3</a><span>Optional subtext</span></li>
                  <li><a href="#">Section Link #4</a><span>Optional subtext</span></li>
                  <li><a href="#">Section Link #5</a><span>Optional subtext</span></li>
                </ul>
              </nav>                            
        </aside>
    </div>
    <footer class="m-display__footer">
        @@include('blocks/_b-published.html')
        @@include('blocks/_b-metaInfo.html')
    </footer>
</article>