@mixin alert(
  $bgColor: $lbg,
  $textColor: $dbg,
  $light: lighten($bgColor, 10),
  $shadow: shade($bgColor, 10)
){
    @extend %icon;
    background: $lbg;
    border: 1px solid $shadow;
    margin: vr(2) 0;
    padding: $pad;
    color: $textColor;
    font-size: $font-size-med;
    line-height: 1.618em;
    border-radius: 0.2em;
    display:flex;
    flex-flow: row nowrap;
    a{
        color: $textColor;
        &:hover, &:focus{
            color: tint($textColor, 10);
        }
        &:active{
            color: shade($textColor, 10);
        }
    }//end
    &:before{ 
        content: $fa-var-star-o;
        font-size: 1.618em;
        padding: $pad-half $pad $pad-half $pad-quarter;
    }//end before
}

@mixin alert-colors(
  $bgColor: $lbg,
  $textColor: $dbg,
  $shadow: shade($bgColor, 10)
){
    background: $bgColor; 
    color: $textColor;
    border: 1px solid $shadow;
    a{
        color: $textColor;
        &:hover, &:focus{
            color: tint($textColor, 10);
        }
        &:active{
            color: shade($textColor, 10);
        }
    }//end a   
}

.alert, %alert{ 
    @include alert();
    &--warning{
        $alert-red: mix(red, $white, 20); 
        @extend %alert;
        @include alert-colors( $alert-red, mix(red, $black, 50) );
        &:before{ content: $fa-var-exclamation-triangle;}
    }//end warning
    &--success{
        $alert-green: mix(green, $white, 20); 
        @extend %alert;
        @include alert-colors( $alert-green, mix(green, $black, 50) );
        &:before{  content: $fa-var-thumbs-o-up;}
    }//end warning
    &--notice{
        $alert-yellow: mix(yellow, $white, 20); 
        @extend %alert;
        @include alert-colors( $alert-yellow, mix(yellow, $black, 30));
        &:before{  content: $fa-var-exclamation-circle;}
    }//end warning
    &--info{
        $alert-blue: mix(lightblue, $white, 20); 
        @extend %alert;
        @include alert-colors( $alert-blue, mix(lightblue, $black, 20) );
        &:before{  content: $fa-var-info-circle;}
    }//end warning
} 