@mixin btn(
  $bgColor: $lbg,
  $btnColor: $tertiary,
  $txtColor: $black,
  $light: lighten($bgColor, 10),
  $shadow: shade($bgColor, 10)
){
    
  padding:0.618em;
  background-color: $btnColor;
  color:$txtColor;
  border-radius:0.3em;
  font-weight:bold;
  text-decoration:none;
  border:2px solid $btnColor;
    &:hover{
      background-color:lighten($btnColor, 10);
      border-color:lighten($btnColor, 10);
      color:lighten($txtColor,10);
      
    }//end hover
}//end mixin btn



@mixin btn--outline(
  $bgColor: $lbg,
  $btnColor: $tertiary,
  $txtColor: $black,
  $light: lighten($bgColor, 10),
  $shadow: shade($bgColor, 10)
){
  @include btn($bgColor, $btnColor, $btnColor, $light, $shadow);
    background-color: $bgColor;
    &:hover{ 
      background-color:$bgColor;
    }
  }//end btn--outline mixin


  
.btn{ @include btn;}
.btn--outline{ @include btn--outline;}