@mixin modal(
  $bgColor: $lbg,
  $bgColor-dark: $black-dark-2,
  $txtColor: $gray-dark-3,
  $ctaColor: $tertiary,
  $light: $lbg--light,
  $shadow: $lbg--shadow
){
    display: none;  //hidden by default
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: set-alpha($bgColor-dark, 0.9);
    @include fadeInDown();

    .modal__content{
        background-color: $bgColor;
        margin: 20vh auto; //15% from the top and centered
        border-radius: 0.2em;
        padding: 20px;
        border: 1px solid $shadow;
        width: 80%;
        @include fadeInDown(
            $duration: 1s,
            $count: 1,
            $delay: 0.2s,
        );
    }
    .close{
        color: $txtColor;
        float: right;
        font-size: $font-size-large;
        font-weight: bold;
        margin-top: -10px;
        &:hover, &:focus{
            color: $ctaColor;
            text-decoration: none;
            cursor: pointer;
        }
    }    
    
}.modal, %modal{ @include modal();}