@mixin navList(
  $bgColor: $lbg,
  $txtColor: $tertiary,
  $light: $lbg--light,
  $shadow: $lbg--shadow
  ){

padding: 0; margin:0; 
list-style:none; 
    
    li{ display:inline-block; 
        padding: 0 1em; margin:0; 
        border-right: 1px solid $shadow;
        box-shadow: 0 1px 0x 0 $light;
        &:last-child{ box-shadow:none; border-right:0;} 
      a{ 
        font-size: 1.2em; 
        color:$txtColor; 
        text-decoration:none;
        text-transform:uppercase;
        &:hover{color:lighten($txtColor, 6); text-decoration:underline;}
      }//end a
    }//end li
  }//end mixin navList


