@mixin navList(
  $bgColor: $lbg,
  $txtColor: $tertiary,
  $light: $lbg--light,
  $shadow: $lbg--shadow
  ){

padding: 0; margin:0; 
list-style:none; 
    
    li{ display:inline-block; 
        padding: 0 1em; margin:0; 
        border-right: 1px solid $shadow;
        box-shadow: 0 1px 0x 0 $light;
        &:last-child{ box-shadow:none !important; border-right:0 !important;}
        @include breakpoint($bp-mobile1-1 $bp-tablet-1){
          border-bottom: 1px solid $shadow;  
          box-shadow: 0 1px 0 -3px $light;
          &:last-child{ border-bottom:0; box-shadow: none;}
        }//end mobile breakpoints 
      a{ 
        
        color:$txtColor; 
        text-decoration:none;
        text-transform:uppercase;
        &:hover, &:focus, &:active{color:lighten($txtColor, 6); text-decoration:underline;}
      }//end a
    }//end li
  }//end mixin navList
@mixin navList--recolor(
  $txtColor: $tertiary,
  $light: $dbg--light,
  $shadow: $dbg--shadow
){
  li{
    border-right: 1px solid $shadow;
    box-shadow: 0 1px 0x 0 $light;
    a{
      color: $txtColor;
      &:hover, &:focus, &:active{color:lighten($txtColor, 6); }
    }//end a

    @include breakpoint($bp-mobile1-1 $bp-tablet-1){
      border-bottom: 1px solid $shadow;  
      box-shadow: 0 1px 0 -3px $light;
      &:last-child{ border-bottom:0; box-shadow: none;}
    }
  }//end li
}

