<section class="s-pageTitle--alt">
	  <div class="container">
    @@include('blocks/_b-title.html', {
      "meta": "",
      "title": "Styleguide",
      "subtitle": "Where branding meets production."
    })
  </div>
  <div class="s-pageTitle__background">
    <svg width="100%" height="100%">
        <defs>
            <pattern id="texture" viewBox="0 0 4 4" width="4" height="4" patternUnits="userSpaceOnUse">
                <path d="M1 3h1v1H1V3zm2-2h1v1H3V1z"></path>
            </pattern>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#texture)"></rect>
    </svg>
  </div>
</section> 