<ul class="b-contactDetails">
    <li class="b-contactDetails__item"><a class="icon fa-phone" href="@tel:#">555-555-5555</a><br/></li>
    <li class="b-contactDetails__item"><a class="icon fa-envelope" href="@mail:#">johnDoe@emailaddress.com</a><br/></li>
    <li class="b-contactDetails__item"><span class="icon fa-map-marker">123 JonDoe Street, WV 12345</span><br/></li>
    <li class="b-contactDetails__item"><a class="icon fa-twitter" href="@twitter:#">@JohnDoe555123</a><br/></li>
    <li class="b-contactDetails__item"><a class="icon fa-link" href="#">JohnDoesWebsite.com</a><br/></li>
    <li class="b-contactDetails__item"><a class="icon fa-file-pdf-o" href="#">Download Johns CV</a><br/></li>
</ul>