<html>
<head>
    @@include('0_imports/_i-styles.html')
    
    <title>Basetheme: Directory</title>     
    
</head>
<body class="l-personnel t-directory">
<div class="l-personnel t-directory"><!--remove after iframe fix--> 


  @@include('sections/_s-header.html') 
  @@include('sections/l-personnel/_s-pageTitle.html')
  <main class="s-main">
      <div class="container">
          @@include('modules/_m-department.html')
          @@include('modules/_m-department.html')
          @@include('modules/_m-department.html')
      </div>
  </main>
  @@include('sections/_s-footer.html')     

</div><!--remove after iframe fix-->
@@include('0_imports/_i-javascripts.html')
</body>
</html>