<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" >
    
    <title>Basetheme: Profile</title>    
    
</head>
<body class="l-personnel t-profile">
<div class="l-personnel t-profile"><!--remove after iframe fix-->

  @@include('sections/_s-header.html') 
  @@include('sections/l-personnel/_s-pageTitle--profile.html')
  <main class="s-main">
      <div class="container">
          @@include('modules/l-personnel/_m-display--profile.html')
      </div>
  </main>
  @@include('sections/_s-footer.html')     
</div><!--remove after iframe fix-->
</body>

</html>