<aside class="m-blogSidebar">
    <ul class="m-blogSidebar__list">        
        <li>
            <div class="b-postListing">
    <h2 class="b-postListing__title">Featured posts</h2>
    <ul class="b-postListing__list">
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Fermentum ut nisl vitae, convallis maximus</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 23, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/3" alt=""/>
                </div>
            </a>
        </li>
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Lorem ipsum dolor sit amet consectetur</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 22, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/2" alt=""/>
                </div>
            </a>
        </li>
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Sit amet consectetur adipisicing elit. Obcaecati, ex!</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 21, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/1" alt=""/>
                </div>
            </a>
        </li>
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Accusamus eligendi harum vitae alias, fugiat quas.</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 20, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/6" alt=""/>
                </div>
            </a>
        </li>
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Maxime totam ducimus sapiente consequuntur id nemo ullam.</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 19, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/8" alt=""/>
                </div>
            </a>
        </li>
    </ul>
</div>
        </li>
        <li>
            <div class="blurb">
                <h2 class="blurb__title">About this blog</h2>
                <p class="blurb__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi fugiat, facilis aspernatur mollitia molestiae optio porro corrupti impedit explicabo quaerat. <a href="#" class="blurb__readMore">Read more...</a></a></p>            
            </div>
        </li>
    </ul>
</aside>