<article class="m-display--cols">
    <header class="m-display__header">
        <div class="b-title">
  <span class="b-title__meta">Subject to which this article pertains</span>
  <h1 class="b-title__title">Title of the article</h1>
  <p class="b-title__subtitle">A brief description of what is yet to come.</p>
</div>
    </header>
    <div class="m-display__body">
        <div class="col--triple m-display__copy">                              
            <h3>Lorem ipsum dolor sit amet.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At officia vel assumenda. Dicta, tempore, natus corrupti ut cum placeat doloribus iste deleniti porro deserunt quis laboriosam accusantium. Suscipit, cumque illum.</p>
        </div>
        <div class="col--triple m-display__copy">                              
            <h3>Quisquam a temporibus dolorem quo.</h3>
            <p>Illum, consectetur, ad consequuntur dignissimos molestias sapiente sunt alias similique ducimus, architecto a eum quo. Totam amet fugiat sapiente corrupti placeat voluptatibus aperiam quas magnam quidem! Modi error enim quibusdam!</p>
            
        </div>
        <div class="col--triple m-display__copy">                              
            <h3>Quod cumque inventore doloremque veniam!</h3>
            <p>Saepe quas, earum at laudantium nesciunt unde voluptate, aut voluptates repellendus blanditiis assumenda doloremque! Ut dolor nostrum, molestiae eaque laudantium dicta excepturi error inventore porro quos assumenda eveniet, qui provident.</p>
        </div>
    </div>
    <footer class="m-display__footer">
        <div class="b-published">
  <time class="b-published__date" datetime="2018-11-29">November 29, 2018</time>
  <a class="chip b-published__author" href="#">
    <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/9" alt=""></div></div>
    <div class="chip__copy">
        <span class="chip__title">Tara Posteroza</span>                   
    </div>
  </a>
</div>
        <div class="b-metaInfo">
  <div class="b-metaInfo__tags">
    <a href="#">#Tag1</a>
    <a href="#">#Tag2</a>
  </div>
  <div class="b-metaInfo__likes"><a href="#">32</a></div>
  <div class="b-metaInfo__comments"><a href="#">145</a></div>
</div>   
    </footer>
</article>