<article class="m-post">
    <header class="m-post__header">
        <a class="b-title--mini" href="#">
            <h3 class="b-title__title">@@title</h3>
            <p class="b-title__subtitle">@@subtitle</p>
        </a>
        <div class="b-published">
  <time class="b-published__date" datetime="2018-11-29">November 29, 2018</time>
  <a class="chip b-published__author" href="#">
    <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/9" alt=""></div></div>
    <div class="chip__copy">
        <span class="chip__title">Tara Posteroza</span>                   
    </div>
  </a>
</div>
    </header>
    <div class="m-post__body">
      <div class="m-post__image"><img src="@@image"></div>                      
      <div class="m-post__copy">
          @@copy
      </div>
    </div>
    <footer class="m-post__footer">
      <div class="m-post__cta"><a href="#" class="button">Continue reading</a></div>
      <div class="b-metaInfo">
  <div class="b-metaInfo__tags">
    <a href="#">#Tag1</a>
    <a href="#">#Tag2</a>
  </div>
  <div class="b-metaInfo__likes"><a href="#">32</a></div>
  <div class="b-metaInfo__comments"><a href="#">145</a></div>
</div>   
    </footer>
</article>