<footer class="s-footer">
  <div class="container">
    <div class="s-footer__contact">
      <div class="b-address">
  <h2 class="b-address__title">Cole Smith</h2> 
  <address class="b-address__body">
    123 SomethingLane, <br/> 
    Morgantown, WV 26501 <br/>
  </address>
  <a href="tel:1-888-888-8888" class="b-address__tel"> 1-888-888-8888</a>
  <a href="mailto:#" class="b-address__email">something@somewhere.com</a>
</div>
    </div><!--end s-footer__contact-->
    <div class="s-footer__cta">
      <nav class="b-primaryNav" role="navigation" >          
    <ul class="navList b-primaryNav__list">
      <li><a href="/views/styleguide.html">Styleguide</a></li>
      <li><a href="/views/objects.html">Objects</a></li>
      <li><a href="/views/prod/l-styleguide/t-blocks.html">Blocks</a></li>
      <li><a href="/views/prod/l-styleguide/t-modules.html">Modules</a></li>
      <li><a href="/views/prod/l-styleguide/t-sections.html">Sections</a></li>
      <li><a href="/views/prod/l-styleguide/t-templates.html">Templates</a></li>
    </ul>
  </nav>

      <div class="b-social">
  <span class="b-social__title">Connect:</span>           
  <ul>                
    <li><a target="_blank" href="http://facebook.com" class="icon fa-facebook">facebook</a></li>
    <li><a target="_blank" href="http://github.com" class="icon fa-github">github</a></li>
    <li><a target="_blank" href="http://twitter.com" class="icon fa-twitter">twitter</a></li>
    <li><a target="_blank" href="http://linkedin.com" class="icon fa-linkedin">linkedin</a></li>
    <li><a target="_blank" href="http://stackoverflow.com" class="icon fa-stack-overflow">stackoverflow</a></li>
    <li><a target="_blank" href="http://behance.com" class="icon fa-behance">behance</a></li>
    <li><a target="_blank" href="http://deviantart.com" class="icon fa-deviantart">deviantart</a></li>
    <li><a target="_blank" href="http://youtube.com" class="icon fa-youtube">youtube</a></li>
  </ul>
</div>
    </div><!--end s-footer__cta-->
  </div><!--end container-->
</footer>