<section class="s-pageTitle--alt">
	  <div class="container">
    <div class="b-title">
  <span class="b-title__meta"></span>
  <h1 class="b-title__title">Blocks</h1>
  <p class="b-title__subtitle">Blocks are individual components that are tailored to a specific type of content and generally make up the bulk of any theme.</p>
</div>
  </div>
  <div class="s-pageTitle__background">
    <svg width="100%" height="100%" >
        <defs>                    
            <pattern id="texture"  viewBox="0 0 32 32" width="32px" height="32px" patternUnits="userSpaceOnUse">                
              <path d="M6 18h12V6H6v12zM4 4h16v16H4V4z"/>
            </pattern>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" fill="url(#texture)"></rect>
    </svg>       
  </div>
</section> 