<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" >
    
    <title>Basetheme: Blog Article</title>    
    
</head>
<body class="l-blog t-blogArticle"> 
<div class="l-blog t-blogArticle"><!--remove after iframe fix-->
  <header class="s-header">
  <div class="container">      
      <div class="m-navbar" id="nav-container">
  <a href="#" class="b-siteName" >
  <h1 class="b-siteName__title">Site Title</h1>
  <span class="b-siteName__subtitle">A common catchphrase</span>
  
</a>
  <nav class="b-primaryNav m-navbar__fullscreen" role="navigation" id="primaryNav nav-fullscreen">          
    <ul class="navList b-primaryNav__list">
      <li><a href="/views/index.html">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <a href="#primaryNav" class="b-primaryNav__trigger m-navbar__trigger" id="nav-toggle">
    <span class="hamburger">
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span>
      <span class="hamburger__line" ></span>
    </span>
  </a>
</div>  
  </div><!--end container-->
</header>  
  <section class="s-hero">
    <div class="container">
        <h2 class="s-hero__headline">Clickbait headline</h2> 
        <p class="s-hero__lede">The headline industry doesn't want you to know about this one simple trick.</p>
    </div>
    <div class="s-hero__background">
        <img src="http://lorempixel.com/1620/700/transport/3" >
    </div>
</section> 
  <main class="s-main">      
      <div class="container">
        <article class="m-display">
            <div class="m-display__body">
                <div class="m-display__copy">
                    <h2>Lorem ipsum dolor sit amet consectetur.</h2>
                    <p class="lede">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione laudantium placeat non!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis recusandae sapiente dolores illo excepturi ullam. Id expedita illum natus fuga impedit architecto optio, itaque dicta, eligendi quasi cumque facere totam?</p>
                    <p>Possimus sit eligendi eos tempore! Iusto in et voluptate natus est vel! Optio, numquam deleniti totam rem maxime hic a accusamus animi? Perspiciatis, est pariatur impedit necessitatibus id recusandae sint?</p>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, beatae.</h3>
                    <p>Esse, atque, exercitationem fuga modi cupiditate quaerat itaque natus beatae veritatis ab perspiciatis veniam accusamus impedit earum labore placeat. Vero perferendis consequatur expedita nesciunt suscipit, ex eius molestiae facere totam.</p>
                    <p>Impedit corporis suscipit soluta maiores tenetur expedita aliquid ipsum provident iste ea ab, alias, ad dolorem odit architecto sequi quidem dolorum repellat nostrum officiis odio, recusandae sit ipsam! Est, reiciendis!</p>
                    <p>Eos dolores ipsum iusto. Facilis totam natus obcaecati deserunt minima, nam iusto explicabo quod aspernatur sed maiores sunt est nihil velit accusantium quo nemo omnis consectetur vero. A, quia culpa!</p>
                </div>
                <aside class="m-display__sidebar">
                    <aside class="m-blogSidebar">
    <ul class="m-blogSidebar__list">        
        <li>
            <div class="b-postListing">
    <h2 class="b-postListing__title">Featured posts</h2>
    <ul class="b-postListing__list">
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Fermentum ut nisl vitae, convallis maximus</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 23, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/3" alt=""/>
                </div>
            </a>
        </li>
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Lorem ipsum dolor sit amet consectetur</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 22, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/2" alt=""/>
                </div>
            </a>
        </li>
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Sit amet consectetur adipisicing elit. Obcaecati, ex!</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 21, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/1" alt=""/>
                </div>
            </a>
        </li>
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Accusamus eligendi harum vitae alias, fugiat quas.</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 20, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/6" alt=""/>
                </div>
            </a>
        </li>
        <li class="b-postListing__item">
            <a href="#" class="miniCard">
                <div class="miniCard__body">
                    <h3 class="miniCard__title">Maxime totam ducimus sapiente consequuntur id nemo ullam.</h3>
                    <time class="miniCard__subtitle" datetime="2019-10-23">October 19, 2018</time>
                </div>
                <div class="miniCard__thumb">
                    <img src="http://lorempixel.com/100/100/nature/8" alt=""/>
                </div>
            </a>
        </li>
    </ul>
</div>
        </li>
        <li>
            <div class="blurb">
                <h2 class="blurb__title">About this blog</h2>
                <p class="blurb__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi fugiat, facilis aspernatur mollitia molestiae optio porro corrupti impedit explicabo quaerat. <a href="#" class="blurb__readMore">Read more...</a></a></p>            
            </div>
        </li>
    </ul>
</aside>
                </aside>
            </div>
        </article>          
      </div>
  </main>
  
  <footer class="s-footer">
  <div class="container">
    <div class="s-footer__contact">
      <div class="b-address">
  <h4 class="b-address__title">John Doe</h4> 
  <address class="b-address__body">
    123 SomethingLane, <br/> 
    Morgantown, WV 26501 <br/>
  </address>
  <a href="tel:1-888-888-8888" class="b-address__tel"> 1-888-888-8888</a>
  <a href="mailto:#" class="b-address__email">something@somewhere.com</a>
</div>
    </div><!--end s-footer__contact-->
    <div class="s-footer__cta">
      <nav class="b-primaryNav">
  <ul class="b-primaryNav__list">
   <li><a href="#">Services</a></li>
   <li><a href="#">Products</a></li>
   <li><a href="#">About</a></li>
   <li><a href="#">Contact</a></li>
  </ul>
</nav>
      <div class="b-social">
  <span class="b-social__title">Connect:</span>           
  <ul>                
    <li><a target="_blank" href="http://facebook.com" class="icon fa-facebook">facebook</a></li>
    <li><a target="_blank" href="http://github.com" class="icon fa-github">github</a></li>
    <li><a target="_blank" href="http://twitter.com" class="icon fa-twitter">twitter</a></li>
    <li><a target="_blank" href="http://linkedin.com" class="icon fa-linkedin">linkedin</a></li>
    <li><a target="_blank" href="http://stackoverflow.com" class="icon fa-stack-overflow">stackoverflow</a></li>
    <li><a target="_blank" href="http://behance.com" class="icon fa-behance">behance</a></li>
    <li><a target="_blank" href="http://deviantart.com" class="icon fa-deviantart">deviantart</a></li>
    <li><a target="_blank" href="http://youtube.com" class="icon fa-youtube">youtube</a></li>
  </ul>
</div>
    </div><!--end s-footer__cta-->
  </div><!--end container-->
</footer>     
</div><!--remove after iframe fix-->
</body>

</html>