<h3 id="alerts__default" class="l-styleguide__subtitle">.alert</h3>
<div class="alert">
    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer
    non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in
    integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
</div>
<h3 id="alerts__warning" class="l-styleguide__subtitle">.alert--warning</h3>
<div class="alert--warning">
    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer
    non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in
    integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
</div>
<h3 id="alerts__success" class="l-styleguide__subtitle">.alert--success</h3>
<div class="alert--success">
    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer
    non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in
    integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
</div>
<h3 id="alerts__notice" class="l-styleguide__subtitle">.alert--notice</h3>
<div class="alert--notice">
    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer
    non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in
    integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
</div>
<h3 id="alerts__info" class="l-styleguide__subtitle">.alert--info</h3>
<div class="alert--info">
    Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio <a href="#">porttitor</a> sem non mi integer
    non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in
    integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac.
</div>