<div class="blurb">
    <h4 class="blurb__title">About this blurb</h4>
    <p class="blurb__body">A blurb is just a short paragraph of content that is frequently located within a sidebar or footer. Sometimes it ends with a link to read more and sometimes it has specific links at the bottom. Aenean eu massa quam. Fusce ut dui at elit ornare ultrices. Nunc non convallis velit. Morbi luctus viverra nunc. Morbi blandit blandit eleifend. Curabitur egestas ullamcorper laoreet. <a href="#" class="blurb__readMore">Read more...</a></a></p>
    <div class="blurb__cta">
    <a href="#" class="button primary">Important Info</a>
    <a href="#" class="button">Less Important Info</a>
    </div>
</div>