<ul>   
    <li>
        <a href="#" class="chip">
        <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/3" alt=""></div></div>
        <div class="chip__copy">
            <h3 class="chip__title">Bobby Fastquick</h3>                    
        </div>
        </a>
    </li>
    <li>
        <a href="#" class="chip">
            <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/6" alt=""></div></div>
            <div class="chip__copy">
                <h3 class="chip__title">Debra Kidshpeck</h3>     
                <p class="chip__body">Integer placerat et turpis mi</p>               
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="chip">
            <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/7" alt=""></div></div>
            <div class="chip__copy">
                <h3 class="chip__title">Susan Bluth</h3>
                <div class="chip__body"><p>Lorem ipsum dolor sit amet consectetur adipiscing elit, urna consequat felis vehicula class ultricies mollis dictumst, aenean non a in donec nulla. Phasellus ante pellentesque erat cum risus consequat imperdiet aliquam, integer placerat et turpis mi eros nec lobortis taciti, vehicula nisl litora tellus ligula porttitor metus. </p></div>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="chip">
            <div class="chip__image"><div class="circular"><img src="http://lorempixel.com/75/75/people/8" alt=""></div></div>
            <div class="chip__copy">                        
                <div class="chip__body"><p>Lorem ipsum dolor sit amet consectetur adipiscing elit, urna consequat felis vehicula class ultricies mollis dictumst, aenean non a in donec nulla. Phasellus ante pellentesque erat cum risus consequat imperdiet aliquam, integer placerat et turpis mi eros nec lobortis taciti, vehicula nisl litora tellus ligula porttitor metus. </p></div>
            </div>
        </a>
    </li>
</ul>
<pre><code>
.chip 
  .chip__image  .circular  INSERT IMAGE HERE /.circular /.chip__image
  .chip__copy 
    .chip__title INSERT TITLE HERE /.chip__title
    .chip__body INSERT BODY TEXT HERE /.chip__body
  /.chip__copy
/.chip  
</code></pre>