<ul>   
    <li>
        <a href="#" class="chip--vert">
            <div class="chip__image">
                <div class="circular"><img src="http://lorempixel.com/150/150/people/3" alt=""></div>
            </div>
            <div class="chip__copy">
                <h3 class="chip__title">Bobby Fastquick</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#" class="chip--vert">
            <div class="chip__image">
                <div class="circular"><img src="http://lorempixel.com/150/150/people/6" alt=""></div>
            </div>
            <div class="chip__copy">
                <h3 class="chip__title">Debra Kidshpeck</h3>
                <p class="chip__body">Integer placerat et turpis mi</p>
            </div>
        </a>
    </li>
    <li>
        <div href="#" class="chip--vert">
            <div class="chip__image">
                <div class="circular"><img src="http://lorempixel.com/150/150/people/7" alt=""></div>
            </div>
            <div class="chip__copy">
                <h3 class="chip__title">Susan Bluth</h3>
                <div class="chip__body">
                    <ul class="b-contactDetails">
                        <li class="b-contactDetails__item"><a class="icon fa-phone" href="@tel:#">555-555-5555</a><br />
                        </li>
                        <li class="b-contactDetails__item"><a class="icon fa-envelope"
                                href="@mail:#">SuBluh@emailaddress.com</a><br /> </li>
                        <li class="b-contactDetails__item"><span class="icon fa-map-marker">123 Sublu Street, WV
                                12345</span><br /></li>
                        <li class="b-contactDetails__item"><a class="icon fa-twitter" href="@twitter:#">@SuBlu555</a><br />
                        </li>
                        <li class="b-contactDetails__item"><a class="icon fa-link" href="#">SuBlusWebsite.com</a><br /></li>
                        <li class="b-contactDetails__item"><a class="icon fa-file-pdf-o" href="#">Download Susans
                                CV</a><br /></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li>
        <a href="#" class="chip--vert">
            <div class="chip__image">
                <div class="circular"><img src="http://lorempixel.com/150/150/people/8" alt=""></div>
            </div>
            <div class="chip__copy">
                <div class="chip__body">
                    <p class="lede">Lorem ipsum dolor sit amet consectetur adipiscing elit, urna consequat felis vehicula
                        class ultricies mollis dictumst, aenean non a in donec nulla. </p>
                </div>
            </div>
        </a>
    </li>
</ul>
<pre style="width:100%;"><code>
.chip--vert 
  .chip__image  .circular  INSERT IMAGE HERE /.circular /.chip__image
  .chip__copy 
    .chip__title INSERT TITLE HERE /.chip__title
    .chip__body INSERT BODY TEXT HERE /.chip__body
  /.chip__copy
/.chip  
</code></pre>