<div class="navList--vertical">
    <h4 class="navList__title">Title for navlist</h4>
    <ul class="navList">
        <li><a href="#">First Link</a></li>
        <li><a href="#">Second Link</a></li>
        <li><a href="#" class="open">Third Link (.open)</a>
            <ul>
                <li><a href="#">First Third Link</a></li>
                <li><a href="#">Second Third Link</a></li>
                <li><a href="#" class="active">Third Third Link (.active)</a></li>
                <li><a href="#">Fourth Third Link</a></li>
            </ul>
        </li>
        <li><a href="#">Fourth Link</a></li>
    </ul>
</div>