<div class="t-styleguide__colors--white"></div>
<div class="t-styleguide__colors--gray-light-1"></div>
<div class="t-styleguide__colors--gray-light-2"></div>
<div class="t-styleguide__colors--gray-light-3"></div>
<div class="t-styleguide__colors--gray-light-4"></div>
<div class="t-styleguide__colors--gray-light-5"></div>
<div class="t-styleguide__colors--gray"></div>
<div class="t-styleguide__colors--gray-dark-5"></div>
<div class="t-styleguide__colors--gray-dark-4"></div>
<div class="t-styleguide__colors--gray-dark-3"></div>
<div class="t-styleguide__colors--gray-dark-2"></div>
<div class="t-styleguide__colors--gray-dark-1"></div>
<div class="t-styleguide__colors--black"></div>
<div class="t-styleguide__colors--black-dark-1"></div>
<div class="t-styleguide__colors--black-dark-2"></div>
<div class="t-styleguide__colors--black-dark-3"></div>