<h4>Figure image</h4>
<figure>
    <img src="/img/hero-1620-desert.jpg" alt="" />
    <figcaption>Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.</figcaption>
</figure>

<h4>Figure blockquote</h4>
<figure>
    <blockquote>
        Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
        volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Lorem ipsum dolor.
    </blockquote>
    <figcaption>
        Vestibulum Ante, in <cite>Ante psum primis in faucibus vestibulum</cite>, eu felis <cite>Volutpat ac
            Adipiscing</cite>, adipiscing accumsan eu integer.
    </figcaption>
</figure>

<h4>Figure list</h4>
<figure>
    <figcaption class="figureTitle">Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
        Integer ac pellentesque praesent.</figcaption>
    <ol>
        <li>Dolor etiam magna etiam.</li>
        <li>Etiam vel lorem sed viverra.</li>
        <li>Felis dolore viverra.</li>
    </ol>
</figure>