@import "breakpoints";
@import "colors";
@import "eq";
@import "animation";
@import "grids";
@import "modularScale";
@import "fonts";
@import "typography";

/////////////////////////
//Radius Variables - BULMA
//
/////////////////////////
$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 290486px;



body{
  background-color:$background;
  //font-size:16px;
}
section{
  width:100%;
  float:left;
  padding:6em 0;
}
