$white: #2c2a29; //#fff;
$black: #fff;//#2c2a29; 
$primary: #eaaa00;//#002855;   //Sunset Orange
$secondary: #002855;//#eaaa00; //Light Seafoam //#f1a66a; //Sandy Brown
$tertiary: #FDDA24;//#0033a0;  
$quaternary: #0d5257;  //Sizzling Sunrise
$quinary: #cd4c08;



$primary--shadow: darken($primary, 4);
$primary--light: lighten($primary, 5);
  
$secondary--shadow: shade($secondary, 5);
$secondary--light: lighten($secondary, 10);

$tertiary--shadow: darken($tertiary, 7);
$tertiary--light: lighten($tertiary, 10);

$quaternary--shadow: darken($quaternary, 7);
$quaternary--light: lighten($quaternary, 10);

$lbg: $white;
$lbg--shadow: shade($lbg, 6);
$lbg--light: lighten($lbg, 10);

$dbg: $black;
$dbg--shadow: darken($dbg, 3);
$dbg--light: lighten($dbg, 4);

$gray: mix($lbg,$dbg, 50%);
$gray-light-1: mix($lbg,$dbg, 98.5%);
$gray-light-2: mix($lbg,$dbg, 96%);
$gray-light-3: mix($lbg,$dbg, 94%);
$gray-light-4: mix($lbg,$dbg, 92%);
$gray-light-5: mix($lbg,$dbg, 90%);

$gray-dark-1: mix($lbg,$dbg, 5%);
$gray-dark-2: mix($lbg,$dbg, 10%);
$gray-dark-3: mix($lbg,$dbg, 16.5%);
$gray-dark-4: mix($lbg,$dbg, 25%);
$gray-dark-5: mix($lbg,$dbg, 30%);

$black-dark-1: darken($black, 5);
$black-dark-2: darken($black, 10);
$black-dark-3: darken($black, 15);
