$white: #fffefb;
$black: #2c2a29;
$primary: #f26157;   //Sunset Orange
$secondary: #f1a66a; //Sandy Brown
$tertiary: #f7db0c;  //Sizzling Sunrise
$quadrary: #0033a0;

$primary--shadow: darken($primary, 4);
$primary--light: lighten($primary, 5);
  
$secondary--shadow: shade($secondary, 5);
$secondary--light: lighten($secondary, 10);

$tertiary--shadow: darken($tertiary, 7);
$tertiary--light: lighten($tertiary, 10);

$quadrary--shadow: darken($quadrary, 7);
$quadrary--light: lighten($quadrary, 10);

$lbg: $white;
$lbg--shadow: shade($lbg, 6);
$lbg--light: lighten($lbg, 10);

$dbg: $black;
$dbg--shadow: darken($dbg, 3);
$dbg--light: lighten($dbg, 4);
