@import 'https://fonts.googleapis.com/css?family=Crete+Round|Open+Sans';

$font-serif: 'Crete Round', Georgia, 'Times New Roman', Times, serif;
$font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
$font-mono: 'Courier New', Courier, monospace;