///////////////////////////////////
//Singularity Grid Mixin
//
//
//USAGE: @include grid-mobile-1(); immediately after opening breakpoint
//Dependencies: compass and singularity
///////////////////////////////////

@mixin grid-mobile1{
  @include add-grid(4);
  @include add-gutter(1/4);
  @include sgs-change('output', 'isolation');
}

@mixin grid-mobile2{
  @include add-grid(6);
  @include add-gutter(1/4);
  @include sgs-change('output', 'isolation');
}

@mixin grid-tablet{
  @include add-grid(8);
  @include sgs-change('output', 'isolation');
}

@mixin grid-desktop1{
  @include add-grid(12);
  @include sgs-change('output', 'isolation');
}

@mixin grid-desktop2{
  @include add-grid(16);
  @include add-gutter(1/3);
  @include sgs-change('output', 'isolation');
}

.row{
  display:flex;
  flex-flow: row wrap;  
  @include breakpoint($bp-mobile1-1 $bp-tablet-1){
    flex-flow: column wrap;
    .col--half, .col--third, .col--fourth{
      width: 100% !important; 
      margin-right: 0 !important;
    }
  }//end mobile bp's   
}//end row

.col--half{
  width:48%;
  margin-right: 2%;
  &:last-child{margin-right:0;}
}

.col--third{
  width:31.333%;
  margin-right: 2%;
  &:last-child{margin-right:0;}
}

.col--fourth{
  width:23%;
  margin-right: 2%;
  &:last-child{margin-right:0;}
}