///////////////////////////////////
//Singularity Grid Mixin
//
//
//USAGE: @include grid-mobile-1(); immediately after opening breakpoint
//Dependencies: compass and singularity
///////////////////////////////////

@mixin grid-mobile1{
  @include add-grid(4);
  @include add-gutter(1/4);
  @include sgs-change('output', 'isolation');
}

@mixin grid-mobile2{
  @include add-grid(6);
  @include add-gutter(1/4);
  @include sgs-change('output', 'isolation');
}

@mixin grid-tablet{
  @include add-grid(8);
  @include sgs-change('output', 'isolation');
}

@mixin grid-desktop1{
  @include add-grid(12);
  @include sgs-change('output', 'isolation');
}

@mixin grid-desktop2{
  @include add-grid(16);
  @include add-gutter(1/3);
  @include sgs-change('output', 'isolation');
}

.row{
  @include grid-container;
  @include add-grid(12);
  @include add-gutter(1);

  .col{
    max-width:100%;
  }

  .col--half, .col--third, .col--quarter{
    @include css-grid-span(12);    
  }
  @include breakpoint($bp-mobile2-3){
    .col--half{
      @include css-grid-span(6);    
    }
    .col--third{
      @include css-grid-span(4);      
    }
    .col--quarter{
      @include css-grid-span(3);
    }
    .col--full{
      @include css-grid-span(12);
    }  
  }


  //styles for IE/non-grid compliancy
  float:left;
  clear:both;
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .col--half{
      &:nth-child(2n){margin-right:0;}
    }
    .col--third{
      &:nth-child(3n){margin-right:0;}
    }
    .col--quarter{
      &:nth-child(4n){margin-right:0;}
    }
  }
  
}

ul.row{
  padding:0; 
  li{ list-style:none;}  
}

@mixin col-lines(
  $light: $lbg--light,
  $shadow: $lbg--shadow
){
  .col{ 
    border-right: 1px solid $lbg--shadow;
    box-shadow: 1px 0 1px 0 $lbg--light;
    &:last-child{border-right: 0; box-shadow: none;}
  }
}
.col--lines{
  @include col-lines();
}