img{
    display: block;
    margin: 0;
    width: 100%; 
    height:auto;
}
.image, %image{
    border-radius: ms(-5);
    border: 0;
    display: inline-block;
    position: relative;

    &.fit{
        display:block;
        margin: 0 0 2em 0;
        width:100%;
    }

    img{
        border-radius: ms(-5);
    }

    &.left, &.right{ max-width: 40%}
    &.left{
        float:left; 
        padding: 0 1.5em 1em 0;
        top: 0.25em;
    }
    &.right{
        float:right; 
        padding: 0 0 1em 1.5em;
        top: 0.25em;
    }
}//end .image

.thumbnail, %thumbnail{
    @extend %image;
    border-radius: 0; 
    width:100px; 
    height:100px;
    img{
        width: auto;
        height: 100%;
        margin: 0 auto;
    }

    &--50{
        @extend %thumbnail; 
        width:50px;
        height:50px;
    } 
    
    &--75{
        @extend %thumbnail; 
        width:75px;
        height:75px;
    }

    &--125{
        @extend %thumbnail; 
        width:50px;
        height:50px;
    } 
    
    &--150{
        @extend %thumbnail; 
        width:75px;
        height:75px;
    }
}


