/////////////////////////
///Modular Scale
/******************************
 ms(-7) = 0.182em
 ms(-6) = 0.236em 
 ms(-5) = 0.295em 
 ms(-4) = 0.382em
 ms(-3) = 0.4774575074em
 ms(-2) = 0.6180339845em 
 ms(-1) = 0.7725424806em
 ms(0) = 1em 
 ms(1) = 1.25em 
 ms(2) = 1.618034em 
 ms(3) = 2.0225425em 
 ms(4) = 2.6180340252em 
 ms(5) = 3.2725425314em 
 ms(6) = 4.2360680659em 
 ms(7) = 5.2950850823em 
 ms(8) = 6.8541021569em 
 ms(9) = 8.5676276961em 
 ms(10) = 11.0901703293em
 ms(11) = 13.8627129116em 
 ms(12) = 17.9442726586em 
 ms(13) = 22.4303408232em 
 ms(14) = 29.0344432669em 
 ms(15) = 36.2930540836em 
 ms(16) = 46.9787163769em 
 ms(17) = 58.7233954711em 
 ms(18) = 76.0131603741em 
 ms(19) = 95.0164504677em 
 ms(20) = 122.9918779328em
*//////////////////////////


$ms-base: 16px 20px;
$ms-ratio: $golden;
//@debug ms-list( -4 , 3, $ms-base, $ms-ratio);
$rhythm-unit: "rem";

 $ms-11n: 0.07;
 $ms-10n: 0.09;
 $ms-9n: 0.113; 	
 $ms-8n: 0.146;
 $ms-7n: 0.182;
 $ms-6n: 0.236;
 $ms-5n: 0.295;
 $ms-4n: 0.382;
 $ms-3n: 0.4774575074;
 $ms-2n: 0.6180339845; 
 $ms-1n: 0.7725424806;
 $ms-0: 1; 
 $ms-1: 1.25; 
 $ms-2: 1.618034; 
 $ms-3: 2.0225425; 
 $ms-4: 2.6180340252; 
 $ms-5: 3.2725425314; 
 $ms-6: 4.2360680659; 
 $ms-7: 5.2950850823; 
 $ms-8: 6.8541021569; 
 $ms-9: 8.5676276961; 
 $ms-10: 11.0901703293;
 $ms-11: 13.8627129116; 
 $ms-12: 17.9442726586; 
 $ms-13: 22.4303408232; 
 $ms-14: 29.0344432669; 
 $ms-15: 36.2930540836; 
 $ms-16: 46.9787163769; 
 $ms-17: 58.7233954711; 
 $ms-18: 76.0131603741; 
 $ms-19: 95.0164504677; 
 $ms-20: 122.9918779328;