////////////////////////////
///BaseLine
//
///////////////////////////
$base-font-size: 16px;
$base-line-height: 20.022px;
$default-rhythm-border-style: solid;
$relative-font-sizing: true;
$round-to-nearest-half-line: true;
$min-line-padding: 2px;
$rhythm-unit: "rem";

////////////////////////
//Font Sizes
//
////////////////////////


$font-size-small : ms(-2);
$font-size-small-2 : ms(-1);
$font-size-med : ms(0);
$font-size-med-2: ms(1);
$font-size-large : ms(2);
$font-size-large-2 : ms(3);
$font-size-xlarge: ms(4);
$font-size-xlarge-2: ms(5);
$font-size-xxlarge: ms(6);
$font-size-xxlarge-2: ms(7);
$font-size-xxxlarge: ms(8);
$font-size-xxxlarge-2: ms(9);

////////////////////////
//Line-height Sizes
//
////////////////////////

$lh-size-small : ms(0);
$lh-size-small-2 : ms(1);
$lh-size-med : ms(2);
$lh-size-med-2: ms(3);
$lh-size-large : ms(4);
$lh-size-large-2 : ms(5);
$lh-size-xlarge: ms(6);
$lh-size-xlarge-2: ms(7);
$lh-size-xxlarge: ms(8);
$lh-size-xxlarge-2: ms(9);
$lh-size-xxxlarge: ms(10);
$lh-size-xxxlarge-2: ms(11);

/////////////////////////
///Space and padding defaults
//
////////////////////////
$space : ms(0);


$space-quarter: $space*0.25;
$space-half: $space*0.5;
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;

$pad-quarter: vr(0.25);
$pad-half: vr(0.5);
$pad-threeQuarter: vr(0.75);
$pad: vr(1);
$pad-and-half: vr(1.5);
$pad-double: vr(2);
$pad-triple: vr(3);
$pad-quadruple: vr(4);



/////////////////////////
///Typography Styles
//
////////////////////////

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

// Headlines and body text
//------------------------------------------

h1, h2, h3, h4, h5, h6, .heading{
  font-family: $font-serif;
  font-weight: normal;
  color: $primary;
  max-width: 30em;
}
//h2{ color: mix($primary, $black, 20);}
h3{ color: mix($primary, $black, 70);} 
h4{ color: mix($primary, $black, 60);}  
h5{ color: mix($primary, $black, 50);}
h6{ color: tint(mix($primary, $black, 40), 40);}
body, p, li{
  font-family: $font-sans;
  color:$black;
}
code, pre{
  font-family: $font-mono;
  font-weight: normal;
  color: $black; 
  background: $gray-light-2;
}
pre { 
  border: 1px solid $gray-light-3;
  border-left: 0.618em solid $primary;
  page-break-inside: avoid;
  font-size: 15px;
  line-height: 1.618; 
  margin-bottom: 1.618em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.618em;
  display: block;
  word-wrap: break-word;
  border-top-right-radius: ms(-4);
  border-bottom-right-radius: ms(-4);
}
p, li{
  max-width: 40em;
}
a{
  color:$tertiary; 
  text-decoration: underline;
  &:hover{ color:lighten($tertiary, 10);}
}
b,strong,.bold{
  font-weight:bold;
}
i, em, .italic{
  font-style: italic;
}
sup{
  vertical-align: super;
  font-size: smaller;
}
sub{
  vertical-align: sub;
  font-size: smaller;
}
cite, .citation{
  font-style: italic;
  color: $gray-dark-3;
}
u, .underline{
  text-decoration:underline;
  text-decoration-style: double;
}

.headline, %headline{
  font-size: $font-size-xxlarge-2;
  font-family: $font-serif;
  font-weight: 900;
  line-height: 0.99em;
  width:100%;
  display:block;
  max-width: 100%;
  padding:0; margin:0;
}
.subHeadline, %subHeadline{
  font-size: $font-size-large-2;
  font-family: $font-serif;
  font-weight: 100;
  line-height: 1.168em;
  width:100%;
  display:block;
  max-width: 100%;
  padding:0; margin:0;
}
.caption, %caption{
  background: $gray-light-2;
  display:block;
  font-size: $font-size-small-2;
  padding: $pad-half;
  font-style: italic;
}

.lede, %lede{
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 100;
  color: $gray-dark-5;
}

blockquote{
  margin:0;
  border-left: $pad-quarter solid $primary;
  padding: $pad $pad-quarter $pad $pad-and-half;
  font-style: italic;
  font-family: $font-serif;
  color: $gray-dark-4;
  font-weight: 100;
  line-height: 1.618em;
}

figure{
  margin: vr(1) 0 vr(2) 0;
  figcaption{
    font-size: ms(-1);
    padding: vr(0.5) 0;
    font-family: $font-sans;
    color: $gray-dark-4;
  }
  .figureTitle{
    font-size: ms(0);
    font-weight: bold;
    font-family: $font-serif;
  }
  blockquote{
    padding-left:$pad;
  }
}

hr{
  border:0;
  border-bottom: 3px solid $gray-light-2;
  box-shadow: 0 2px 2px -1 $lbg--shadow;
  margin: $pad-triple 0; 
}

.box, %box{
  border-radius: ms(-4);
  border: solid 1px $lbg--shadow;
  padding: vr(1);
  margin: vr(2) 0;
  p{margin-bottom:0; max-width: 100%;}
  &.alt{
    padding:0;
    border:0; 
  }
}

// Lists
//------------------------------------------

ul, ol{
  padding: 0 1em vr(2) 1em;
  & > ul, & > ol{ 
    padding: 0.1rem 1em;
  }
  li{line-height: 1rem; margin: vr(0.5) 0;}
}
ol {
  & > ol{ list-style-type: upper-alpha;}
  & > ol > ol{ list-style-type: upper-roman;}
}
dl{
  dt{
    font-weight: 900;
    font-family: $font-sans;
    background: $gray-light-2;
    padding: $pad-half;
  }
  dd{
    padding-left: 3vw;
    margin:0;
    font-family: $font-serif;
    p{max-width:100%;}
  }
}//end dl
@mixin ul-alt(
  $shadow: $lbg--shadow,
  $light: $lbg--light
){
  list-style:none !important;
  padding:0;
  li{
    padding: $pad-half 0;
    border-bottom: 1px solid $shadow;
    box-shadow: 0 1px 1px -1px $light; 
    &:last-child{ border-bottom:0; box-shadow: none;}
  }
}
ul.alt{
  @include ul-alt();
}//end ul.alt

ul.actions{
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1em;
  padding:0;
  margin-bottom: vr(1);
  li{
    display:flex;
    padding: 0 0 0 1em;
    vertical-align: middle;
  }

  &.fit{
    width:calc(100% + 1em);
    li{
      -moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			width: 100%;
      & > * { width:100%;}
    }//end li

  }
}//end ul.actions

// Tables
//------------------------------------------
.table-wrapper{
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}
@mixin table(
  $bgColor: $lbg,
  $textColor: $gray-dark-3,
  $titleColor: $black,
  $shadow: $lbg--shadow,
  $light: $lbg--light
){
  margin: 0 0 $pad 0;
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;
  caption{
    padding: vr(2) 0;
    color: set-alpha($textColor, 0.85);
    font-family: $font-serif;
    font-size: $font-size-large;
  }//end caption
  thead{
    border-bottom: solid 2px $shadow;
    th{
      color: $titleColor;
      font-size: ms(-1);
      font-weight: 600;
      padding: 0 vr(0.5) vr(0.5) vr(0.5);
      text-align: left;
    }
  }//end thead
  tbody{
    tr{
      border: solid 1px $shadow;      
      border-left:0; border-right: 0;
      &:nth-child(2n+1){ background-color: set-alpha($shadow, 0.25);}
    }    
  }//end tbody
  td{
    padding: vr(0.5) vr(0.5);
    color: $textColor;
  }
}
table{ 
  @include table();
}//end table
@mixin table--alt(
  $shadow: $lbg--shadow
){
  border-collapse: separate;
  thead{
    border-bottom:0;  
  }
  tbody tr{
    border:0;
    &:first-child td{
      border-top-width: 1px;
    }    
    td{
      border: solid 1px $lbg--shadow; 
      border-left-width:0;
      border-top-width:0;
      &:first-child{ border-left-width:1px;}
    }//end td
  }//end tbody tr
}
table.alt{
  @include table--alt();
}//end table.alt


//Responsive configuration map for Typi
//------------------------------------------

$typi:(
  base:(
    null: (16px, 1.25),
    mobile1: (14px, 1.25),
    mobile2: (16px, 1.25),
    tablet: (16px, 1.25),
    desktop1: (16px, 1.25),
    desktop2: (18px, 1.25),
    desktop3: (20px, 1.25)
  ),
  h1:(
    null: ( $font-size-xlarge, 0.9),
    mobile1: ($font-size-large-2),
    mobile2: ($font-size-large-2),
    tablet: ($font-size-xlarge),
    desktop1: ($font-size-xlarge),
    desktop2: ($font-size-xlarge),
    desktop3: ($font-size-xlarge-2)
  ),
  h2:(
    null: ( $font-size-large-2, 1),
    mobile1: ($font-size-large),
    mobile2: ($font-size-large),
    tablet: ($font-size-large-2),
    desktop1: ($font-size-large-2),
    desktop2: ($font-size-large-2),
    desktop3: ($font-size-xlarge)
  ),
  h3:(
    null: ( $font-size-large, 1.2),
    mobile1: ($font-size-med-2),
    mobile2: ($font-size-med-2),
    tablet: ($font-size-large),
    desktop1: ($font-size-large),
    desktop2: ($font-size-large),
    desktop3: ($font-size-large-2)
  ),
  h4:(
    null: ( $font-size-med-2, 1.2),
    mobile1: ($font-size-med),
    mobile2: ($font-size-med),
    tablet: ($font-size-med-2),
    desktop1: ($font-size-med-2),
    desktop2: ($font-size-med-2),
    desktop3: ($font-size-large)
  ),
  h5:(
    null: ( $font-size-med, 1.2),
    mobile1: ($font-size-small-2),
    mobile2: ($font-size-small-2),
    tablet: ($font-size-med),
    desktop1: ($font-size-med),
    desktop2: ($font-size-med),
    desktop3: ($font-size-med-2)
  ),
  p:(
    null: ( $font-size-med, 1.618),
    mobile1: ($font-size-small-2),
    mobile2: ($font-size-small-2),
    tablet: ($font-size-med),
    desktop1: ($font-size-med),
    desktop2: ($font-size-med),
    desktop3: ($font-size-med-2)
  ),
  headline:(
    null: ( $font-size-xxlarge-2, 1),
    mobile1: ($font-size-xxlarge),
    mobile2: ($font-size-xxlarge),
    tablet: ($font-size-xxlarge-2),
    desktop1: ($font-size-xxlarge-2),
    desktop2: ($font-size-xxxlarge),
    desktop3: ($font-size-xxxlarge-2)
  ),
  headline-2:(
    null: ( $font-size-xxlarge, 1),
    mobile1: ($font-size-xlarge-2),
    mobile2: ($font-size-xlarge-2),
    tablet: ($font-size-xxlarge),
    desktop1: ($font-size-xxlarge),
    desktop2: ($font-size-xxlarge-2),
    desktop3: ($font-size-xxxlarge)
  ),
  subHeadline:(
    null: ( $font-size-large-2, 1.168),
    mobile1: ($font-size-large),
    mobile2: ($font-size-large),
    tablet: ($font-size-large-2),
    desktop1: ($font-size-large-2),
    desktop2: ($font-size-xlarge),
    desktop3: ($font-size-xlarge-2)
  ),
  meta:(
    null: ( $font-size-small-2, 1.618),
    mobile1: ($font-size-small),
    mobile2: ($font-size-small),
    tablet: ($font-size-small-2),
    desktop1: ($font-size-small-2),
    desktop2: ($font-size-small-2),
    desktop3: ($font-size-med)
  )
);
@include typi-init;
h1, %h1{
  @include typi('h1');
  margin: vr(4) 0;
}
h2, %h2{
  @include typi('h2');
  margin: vr(3) 0;
}
h3, %h3{
  @include typi('h3');
  margin: vr(2) 0;
}
h4, %h4{ 
  @include typi('h4');
  margin: vr(1) 0;
}
h5, h6, %h5, %h6{
  @include typi('h5');
  margin: vr(0.75) 0;
}
h6, %h6{ margin:vr(0.25) 0;}
p, li{
  @include typi('p');
  margin: vr(1) 0;
}
.headline, %headline{ 
  @include typi('headline');
  padding-top: vr(1.618);
}
.subHeadline, %subHeadline{
  @include typi('subHeadline');
  padding-bottom: vr(1.618);
}
