////////////////////////////
///BaseLine
//
///////////////////////////
$base-font-size: 16px;
$base-line-height: 20.022px;
$default-rhythm-border-style: solid;
$relative-font-sizing: true;
$round-to-nearest-half-line: true;
$min-line-padding: 2px;
$rhythm-unit: "rem";

////////////////////////
//Font Sizes
//
////////////////////////


$font-size-small : ms(-2);
$font-size-small-2 : ms(-1);
$font-size-med : ms(0);
$font-size-med-2: ms(1);
$font-size-large : ms(2);
$font-size-large-2 : ms(3);
$font-size-xlarge: ms(4);
$font-size-xlarge-2: ms(5);
$font-size-xxlarge: ms(6);
$font-size-xxlarge-2: ms(7);
$font-size-xxxlarge: ms(8);
$font-size-xxxlarge-2: ms(9);

////////////////////////
//Line-height Sizes
//
////////////////////////

$lh-size-small : ms(0);
$lh-size-small-2 : ms(1);
$lh-size-med : ms(2);
$lh-size-med-2: ms(3);
$lh-size-large : ms(4);
$lh-size-large-2 : ms(5);
$lh-size-xlarge: ms(6);
$lh-size-xlarge-2: ms(7);
$lh-size-xxlarge: ms(8);
$lh-size-xxlarge-2: ms(9);
$lh-size-xxxlarge: ms(10);
$lh-size-xxxlarge-2: ms(11);

/////////////////////////
///Space and padding defaults
//
////////////////////////
$space : ms(0);
$pad : ms(1);


$space-quarter: $space*0.25;
$space-half: $space*0.5;
//$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;

$pad-quarter: $pad*0.25;
$pad-half:$pad*0.5;
//$pad : 1.618rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;



h1, h2, h3, h4, h5, h6, .heading{
  font-family: 'Crete Round', serif;
  font-weight: normal;
  color: $primary;
  max-width: 30em;
}
body, p, li, a{
  font-family: 'Open Sans', sans-serif;
  color:$black;
}
p, li{
  max-width: 40em;
}
a{
  color:$tertiary;
  &:hover{ color:lighten($tertiary, 10);}
}

//Responsive configuration map for Typi
//------------------------------------------

$typi:(
  base:(
    null: (16px, 1.25),
    mobile1: (14px, 1.25),
    mobile2: (16px, 1.25),
    tablet: (16px, 1.25),
    desktop1: (16px, 1.25),
    desktop2: (18px, 1.25),
    desktop3: (20px, 1.25)
  ),
  h1:(
    null: ( $font-size-xlarge, 0.9),
    mobile1: ($font-size-large-2),
    mobile2: ($font-size-large-2),
    tablet: ($font-size-xlarge),
    desktop1: ($font-size-xlarge),
    desktop2: ($font-size-xlarge),
    desktop3: ($font-size-xlarge-2)
  ),
  h2:(
    null: ( $font-size-large-2, 1),
    mobile1: ($font-size-large),
    mobile2: ($font-size-large),
    tablet: ($font-size-large-2),
    desktop1: ($font-size-large-2),
    desktop2: ($font-size-large-2),
    desktop3: ($font-size-xlarge)
  ),
  h3:(
    null: ( $font-size-large, 1.2),
    mobile1: ($font-size-med-2),
    mobile2: ($font-size-med-2),
    tablet: ($font-size-large),
    desktop1: ($font-size-large),
    desktop2: ($font-size-large),
    desktop3: ($font-size-large-2)
  ),
  p:(
    null: ( $font-size-med, 1.618),
    mobile1: ($font-size-small-2),
    mobile2: ($font-size-small-2),
    tablet: ($font-size-med),
    desktop1: ($font-size-med),
    desktop2: ($font-size-med),
    desktop3: ($font-size-med-2)
  )
);
@include typi-init;
h1{
  @include typi('h1');
  margin: vr(3) 0;
}
h2{
  @include typi('h2');
  margin: vr(2) 0;
}
h3, h4, h5{
  @include typi('h3');
  margin: vr(2) 0;
}
p, li{
  @include typi('p');
}
